<nav class="navbar navbar-default navbar-transparent navbar-fixed-top" id="transparent">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <% link_to "index.html", class: "navbar-brand", id: "white" do %>
        <i class="fa fa-camera-retro"></i> MATHIEU THOMASSET
      <% end %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
<!--         <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-cubes"></i> NEWS<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><%= link_to "Horsecart Driver n°20", "bobo" %></li>
            <li><%= link_to "Les indignés de McDonald's", "indignes-mcdonalds" %></li>
            <li><%= link_to "Des bénévoles se mobilisent pour les migrants", "tentes-migrants" %></li>
            <li><%= link_to "Dans les coulisse de la Philharmonie de Paris", "philharmonie" %></li>
            <li><%= link_to "Grand Prix de Diane, une bulle champêtre", "grandprixdiane2016" %></li>
            <li><%= link_to "Inondation à Paris, la Seine au pic de sa popularité", "inondations-paris-2016" %></li>
            <li><%= link_to "OTTO10, que votre volonté soit fête", "otto10" %></li>
            <li><%= link_to "Entre deux prières", "prieres" %></li>
            <li><%= link_to "Waterlicht", "waterlicht" %></li>
            <li><%= link_to "COP21", "cop21" %></li>
            <li><%= link_to "Welcome to Fukushima", "fukushima" %></li>
          </ul>
        </li> -->
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-cubes"></i> STORIES<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><%= link_to "Dans les coulisses d'une rédaction", "coulissespelerin" %></li>
            <li><%= link_to "Marseille reborn", "marseille-reborn" %></li>
            <li><%= link_to "Marie et les filles", "entre-ciel-et-terre" %></li>
<!--             <li><%= link_to "D'ici et d'ailleurs", "globetrotters" %></li>-->            <li><%= link_to "Qu'as-tu fait des rêves de tes 20 ans ?", "regis" %></li>
            <!-- <li class="divider"></li>
            <li><a href="#">Separated link</a></li> -->
          </ul>
        </li>
        <li>
          <% link_to "portraits" do %>
            <i class="fa fa-cube"></i> PORTRAITS
          <% end %>
        </li>
        <li>
          <% link_to "corporate" do %>
            <i class="fa fa-cube"></i> CORPORATE
          <% end %>
        </li>
<!--         <li>
          <% link_to "multimedia" do %>
            <i class="fa fa-play-circle-o"></i> MULTIMEDIA
          <% end %>
        </li> -->
        <li>
          <% link_to "publications" do %>
            <!-- <i class="fa fa-newspaper-o" aria-hidden="true"></i>  -->PUBLICATIONS
          <% end %>
        </li>
        <li>
          <% link_to "blog" do %>
            <i class="fa fa-angle-right"></i> BLOG
          <% end %>
        </li>
        <li>
          <% link_to "bio" do %>
            <!-- <i class="fa fa-angle-right"></i>  -->BIO
          <% end %>
        </li>
        <!-- <li>
          <a href="https://instagram.com/mathosset">
            <i class="fa fa-instagram"></i>
          </a>
        </li> -->
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
