<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title><%= page_title %></title>
    <meta name="description" content="<%= page_description %>">
    <meta name="author" content="Mathieu Thomasset">
    <meta name="robots" content="index,follow">

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="<%= data.site.twitter_handle %>">
    <meta name="twitter:title" content="<%= page_title %>">
    <meta name="twitter:description" content="<%= page_description %>">
    <meta name="twitter:creator" content="<%= data.site.twitter_handle %>">
    <meta name="twitter:image" content="<%= page_image %>">

    <!-- Open Graph -->
    <meta property="og:title" content="<%= page_title %>"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="<%= current_page_url %>"/>
    <meta property="og:image" content="<%= page_image %>"/>
    <meta property="og:image:width" content="1024"/>
    <meta property="og:image:height" content="768"/>
    <meta property="og:description" content="<%= page_description %>"/>
    <meta property="og:site_name" content="<%= data.site.title %>"/>

    <% if current_page.data.preferred_url %>
      <link rel="canonical" href="<%= current_page.data.preferred_url %>">
    <% end %>

    <!-- Styles -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Abel&family=Roboto:wght@300;400;700;900&display=swap" rel="stylesheet">
    <%= favicon_tag 'favicon.ico' %>
    <%= stylesheet_link_tag "normalize", "all" %>
  </head>

  <body class="<%= page_classes %>">
    <%= partial 'layouts/navbar' %>
    <%= yield %>
    <%= partial 'layouts/footer' %>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <%# <script src="https://code.jquery.com/jquery-migrate-3.4.1.min.js"></script> %>
    
    <!-- Masonry + imagesLoaded -->
    <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>

    <!-- GLightbox -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glightbox/dist/css/glightbox.min.css">
    <script src="https://cdn.jsdelivr.net/npm/glightbox/dist/js/glightbox.min.js"></script>

    <!-- Bootstrap -->  
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    <!-- Ton JS -->
    <%= javascript_include_tag "all" %>

    <!-- Google Ads & Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-1022405015"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'AW-1022405015');
    </script>

    <% if current_page.data.preferred_url == 'http://www.mathieuthomasset.fr/confirmation-de-contact' %>
      <script>
        gtag('event', 'conversion', {'send_to': 'AW-1022405015/BnkYCJPx_8EBEJfTwucD'});
      </script>
    <% end %>
  </body>
</html>
