<!doctype html>
<html>
  <head>
    <meta charset="utf-8">

    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "Mathieu Thomasset" %></title>

    <!-- Viewport, set to device width -->
    <meta name='viewport' content='width=device-width,initial-scale=1'>

    <!-- Meta Data -->
    <meta name='description' content='Mathieu Thomasset, photographe indépendant basé à Paris. Reportages, portraits et corporate.' />
    <meta name="Keywords" content="Mathieu Thomasset, photographe, photographer, reportage, corporate, portrait" />

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Mathieu Thomasset photographe">
    <meta name="twitter:description" content="Photographe indépendant basé à Paris">
    <meta name="twitter:creator" content="@mathosset">
    <meta name="twitter:image:src" content="http://mathieuthomasset.fr/images/angel1.jpg">

    <!-- Opengraph Data -->
    <meta property="og:title" content="Mathieu Thomasset photographe" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://www.mathieuthomasset.fr" />
    <meta property="og:image" content="http://mathieuthomasset.fr/images/angel1.jpg" />
    <meta property="og:image:width" content="400" />
    <meta property="og:image:height" content="300" />
    <meta property="og:description" content="Photographe indépendant basé à Paris. Reportages, corporate et portraits"/>
    <meta property="og:site_name" content="Mathieu Thomasset photographe" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">

    <link href='http://fonts.googleapis.com/css?family=Abel|Open+Sans:400,300,700' rel='stylesheet' type='text/css'>

    <%= stylesheet_link_tag "normalize", "all" %>
    <%= javascript_include_tag  "all" %>
  </head>

  <body class="<%= page_classes %>">

    <%= partial 'layouts/navbar' %>

    <%= yield %>

    <%= partial 'layouts/footer' %>

  </body>
</html>
