<!doctype html>
<html>
  <head>
    <meta charset="utf-8">

    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "Mathieu Thomasset" %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">

    <link href='http://fonts.googleapis.com/css?family=Abel|Open+Sans:400,300,700' rel='stylesheet' type='text/css'>

    <%= stylesheet_link_tag "normalize", "all" %>
    <%= javascript_include_tag  "all" %>
  </head>

  <body class="<%= page_classes %>">
    <nav class="navbar navbar-default navbar-transparent navbar-fixed-top">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to "MATHIEU THOMASSET - Photojournaliste", "index.html", class: "navbar-brand" %>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Reportages</a></li>
            <li><a href="#">Séries</a></li>
            <li><%= link_to "Portraits", "portraits.html" %></li>
            <li><%= link_to "Bio", "bio.html" %></li>
            <!-- <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Bio <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li><a href="#">Separated link</a></li>
              </ul>
            </li>-->
            <li>
              <a href="https://twitter.com/voirlemondefr">
                <i class="fa fa-twitter"></i>
              </a>
            </li>
            <li>
              <a href="https://facebook.com/mathosset">
                <i class="fa fa-facebook"></i>
              </a>
            </li>
            <li>
              <a href="https://instagram.com/mathosset">
                <i class="fa fa-instagram"></i>
              </a>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <%= yield %>

    <div id="footer">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <ul class="list-inline social">
              <li>Mathieu Thomasset, Paris /// <a href="http://www.voirlemonde.fr">voirlemonde.fr</a> ///</li>
              <li>
                <a href="https://twitter.com/voirlemondefr">
                  <i class="fa fa-twitter"></i>
                </a>
              </li>
              <li>
                <a href="https://facebook.com/mathosset">
                  <i class="fa fa-facebook"></i>
                </a>
              </li>
              <li>
                <a href="https://instagram.com/mathosset">
                  <i class="fa fa-instagram"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

  </body>
</html>
