---
title: "Blog photographie – Reportages & actualités | Mathieu Thomasset"
description: "Actualités, reportages et projets personnels de Mathieu Thomasset, photographe basé à Montaigu-Vendée et membre Hans Lucas."
preferred_url: "https://www.mathieuthomasset.fr/blog"
---


<div class="big-spacer"></div>

<div id="wrapper">
  <div class="container-fluid">
    <div class="row blog-grid">
    <% page_articles.each_with_index do |article, i| %>
        <article class="col-xs-12 col-sm-6 col-lg-4">
            <time>/// <%= article.date.strftime('%e %b %Y')%> ///</time>
            <h1><%= article.title %></h1>
            <% if article.data.thumbnail %>
            <a href="<%= article.url %>">
              <img src="<%= article.data.thumbnail %>" alt="<%= article.title %>" style="width:100%;height:auto;margin-top:10px" loading="lazy">
            </a>
            <% end %>
        </article>
        <% end %>
          <div class="spacer"></div>
      </div>

    </div>
  </div>
</div>


<div class="spacer"></div>
