---
title: Mathieu Thomasset - Photographe Entreprise à Nantes - Blog
Description: Photographe à Nantes (44) - Reportage, Portraits pour la Presse et les Entreprises  - Membre du studio Hans Lucas - Blog
preferred_url: http://www.mathieuthomasset.fr/blog
---

<div class="big-spacer"></div>

<div id="wrapper">
  <div class="container-fluid">
    <div class="row">
    <% page_articles.each_with_index do |article, i| %>
        <article>
          <div class="col-xs-12 col-md-4">
            <time>/// <%= article.date.strftime('%e %b %Y')%> ///</time>
            <h1>
              <%= article.title %>
            </h1>       
            <a href="<%= article.url %>">
              <p><%= article.summary(5, '...') %></p>
            </a></br>
            <!-- <a href="<%= article.url %>">Lire plus</a></br> -->
        </article>
          <div class="spacer"></div>
        <% end %>
      </div>

    </div>
  </div>
</div>


<div class="spacer"></div>
