---
title: Cogelec
image_path: http://mathieuthomasset.fr/images/cogelec_01.jpg
description: Portrait de Roger Leclerc, pdg de Cogelec.
preferred_url: http://www.mathieuthomasset.fr/cogelec
---

<div class="big-spacer"></div>

<div class="container-fluid">
  <div class="row">
    <div class="spacer"></div>
    <div class="col-xs-12 col-sm-3 col-md-offset-1">
<!--       <h1 id="upper">COGELEC</h1>
      </br> -->
      <%= image_tag "logo-lesechospublishing.jpg", width: "50%" %>
      <p>Client : <span id="uk">Les ECHOS Publishing</span></br></br>
      Portrait de Roger Leclerc, pdg de la société Cogelec, spécialiste du contrôle d’accès à l’habitat collectif basé en Vendée.</p>
      <div class="spacer"></div>
    </div>
    <div class="spacer"></div>
    <div class="col-xs-12 col-sm-8">
          <section id="grid">
      <% data.cogelec.each do |y| %>
        <div class="col-xs-12 col-sm-6">
          <a href="images/<%= y.picture %>" class="swipebox" title="<%= y.caption %>">
            <% if y.vertical == "yes" %>
              <%= image_tag y.picture, width: "80%", class: "center-block" %>
            <% else %>
              <%= image_tag y.picture, width: "100%" %>
            <% end %>
          </a>
          <p><%= y.caption %></p>
        </div>
      <% end %>
    </section>
    </div>  

  </div>
</div>
<div class="spacer"></div>
