---
title: Corporate, reportage, portrait - Mathieu Thomasset
preferred_url: http://www.mathieuthomasset.fr/corporate
---

<div class="big-spacer"></div>

<div class="container">
  <div class="row">
    <div class="spacer"></div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <h1>Photographe Corporate basé à Nantes</h1>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-8">
      <p>Je travaille pour les <strong>entreprises et institutionnels</strong> en région Pays de Loire et Bretagne mais aussi en France et à l'étranger. J'accompagne mes clients pour documenter et illustrer la <strong>vie de leur entreprise, association ou institution</strong> en réalisant des <strong>reportages photographiques</strong>, des séances de <strong>portraits</strong> et des reportages photo <strong>événementiels</strong>. Je travaille tout autant dans des environnements <strong>industriels</strong> qu'au contact d'<strong>artisans</strong> souhaitant valoriser leur savoir-faire.</p>
      <p class="text-right"> <i class="fa fa-arrow-down" aria-hidden="true"></i> Télécharger mon portfolio <%= link_to 'CORPORATE', '/images/Portfolio_Cororate_MThomasset.pdf', target: "_blank" %> <br><i class="fa fa-envelope-o"></i> Demander un <a href="mailto:mathieuthomasset@gmx.com?subject=Demande_de_devis">devis</a> </p>
      <div class="spacer"></div>
    </div>
  </div>
  <div class="spacer"></div>
  <div class="row">
    <% data.corporate.each_with_index do |y| %>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.1)), url('images/<%= y.picture %>');">
          <div class="card-category"><%= y.category.upcase %></div>
          <div class="card-description">
            <h2><%= y.title.upcase %></h2>
            <p><%= y.caption %></p>
          </div>
          <a class="card-link" href="<%= y.page %>" ></a>
        </div>
        <div class="spacer"></div>
      </div>
    <% end %>
  </div>
</div>

<div class="spacer"></div>
