---
title: Mathieu Thomasset - Photographe Corporate à Nantes
description: Photographe professionnel Corporate à Nantes (44) - Reportage et Portraits pour la Presse, les Entreprises - membre du studio HAns Lucas
preferred_url: http://www.mathieuthomasset.fr/corporate
---

<div class="big-spacer"></div>

<div class="container-fluid">
  <div class="row">
    <div class="spacer"></div>
    <div class="col-xs-12 col-sm-3 col-md-offset-1">
      <h1 id="upper">Photographe Corporate basé à Nantes</h1>
      </br>
      <p>J'aide mes clients à valoriser leur <span id="uk">métier</span> et leurs <span id="uk">équipes</span>, à documenter et illustrer la <strong>vie de leur entreprise, collectivité, association ou institution</strong> en réalisant des <strong><span id="uk">reportages</span> photographiques</strong>, des séances de <strong><span id="uk">portraits</span></strong> et des photos d'<strong>événementiel</strong>.</p>
      <p>Je travaille pour les <span id="uk">entreprises </span> et les <span id="uk">institutionnels</span> en région Pays de Loire et Bretagne mais aussi en France et à l'étranger.</p> 
      <p>Je travaille tout autant dans des environnements <strong>industriels</strong> qu'au contact d'<strong>artisans</strong> souhaitant valoriser leur savoir-faire.</p>
      <p>Je collabore à ce jour avec :</p>
      <%= partial 'layouts/clients' %>
      <p class="text-right"> <i class="fa fa-arrow-down" aria-hidden="true"></i> Télécharger mon portfolio <%= link_to 'CORPORATE', '/images/Portfolio_Corporate_MThomasset.pdf', target: "_blank" %></p></br>
      <!-- <p class="text-right"><a href="mailto:mathieuthomasset@gmx.com?subject=Demande_de_devis_corporate" class="btn-treehouse">DEMANDER UN DEVIS</a></p> -->
      <p class="text-right"><% link_to "demande-de-contact", class: "btn-treehouse text-right" do %>
        <i class="fa fa-cubes"></i> DEMANDER UN DEVIS
      <% end %></p>
      <div class="spacer"></div>
    </div>
    <div class="spacer"></div>
    <div class="col-xs-12 col-sm-8">
    <section id="grid">
      <% data.corporate.each do |y| %>
        <div class="col-xs-12 col-sm-6 col-lg-4">
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.1)), url('images/<%= y.picture %>');">
          <div class="card-category"><%= y.category.upcase %></div>
          <div class="card-description">
            <h2><%= y.title.upcase %></h2>
            <p><%= y.caption %></p>
          </div>
          <a class="card-link" href="<%= y.page %>" ></a>
          </div>
        <div class="spacer"></div>
        </div>
      <% end %>
    </section>
    </div>  

  </div>
</div>
<div class="spacer"></div>
