---
title: Dans les coulisses du journal Pèlerin
image_path: http://mathieuthomasset.fr/images/pelerin_21.jpg
description: Une semaine dans la vie de la rédaction du journal Pèlerin, édité par le groupe de presse indépendant Bayard.
preferred_url: http://www.mathieuthomasset.fr/coulissespelerin.html
---

<div class="spacer"></div>

<div class="container">
  <div class="row">
    <div class="col-sm-9">
      <h1>Dans les coulisses du journal Pèlerin
      <% link_to "multimedia.html" do %>
          <i class="fa fa-play-circle-o pulse"></i>
        <% end %></br>mai 2016</h1>
      </br>
      <p>Quelques semaines dans la vie de la rédaction du journal Pèlerin au contact de ceux qui font cet hebdomadaire créé en 1873 et édité par le groupe de presse indépendant Bayard.</br>Chaque numéro mobilise une équipe de 64 personnes : 46 membres de la rédaction dont 41 journalistes, ainsi que les services communication, publicité, diffusion, fabrication...</br></br>
      <% link_to "publications.html" do %> 
        <%= image_tag "publication_06.jpg", width: "150px" %>
      <%end%>
      Publication dans le Grand Angle du Pèlerin n°6962 du 5 mai 2016.</p>
      <div class="spacer"></div>
    </div>
    <div class="col-sm-12 text-right">
      <button class="btn btn-default fa fa-stop" id="btn-list"> slide</button>
      <button class="btn btn-default fa fa-th-large disabled" id="btn-grid"> planche</button>
      <div class="spacer"></div>
    </div>
    <div class="spacer"></div>
    <section id="grid">
      <% data.pelerin.each do |y| %>
        <div class="col-xs-6 col-sm-4">
          <a href="images/<%= y.picture %>" class="swipebox" title="<%= y.caption %>">
            <%= image_tag y.picture, width: "100%" %>
          </a>
          <p><%= y.caption %></p>
        </div>
      <% end %>
    </section>
  </div>
</div>
<div class="spacer"></div>
