---
title: "Photographe entreprise en Vendée – Reportage & Portrait | Mathieu Thomasset"
description: "Photographe en Vendée spécialisé dans les portraits et reportages en entreprise. Interventions auprès d’artisans, PME, industriels et institutions du Grand Ouest."
preferred_url: "http://www.mathieuthomasset.fr/entreprise"
---

<div class="big-spacer"></div>

<div class="container-fluid">
  <div class="row">
    <div class="spacer"></div>
    <div class="col-xs-12 col-sm-3 col-md-offset-1">
      <h1 id="upper">Photographe pour entreprises, institutions et presse</h1>
      </br>
      <p>Basé à Saint-Georges-de-Montaigu en Vendée, je réalise des <span id="uk">reportages photographiques</span> pour <span id="uk">les entreprises, les institutions et la presse</span>, dans toute la région Pays de la Loire et l’Ouest de la France.</p>
      <p>J’apporte un regard documentaire aux structures qui souhaitent valoriser leur <span id="uk">patrimoine humain</span> et <span id="uk">territorial</span>. Mon approche, héritée du photojournalisme, garantit des images <span id="uk">authentiques</span>, <span id="uk">sensibles</span> et immédiatement utilisables dans votre communication, qu’elle soit interne ou externe.</p>
      <p>Je vous accompagne pour documenter la vie de votre entreprise ou institution : <span id="uk">reportages</span> en situation, <%= link_to 'portraits', "portraits"%> des collaborateurs, <span id="uk">événements</span>, ou encore <span id="uk">photographies d’illustration</span> adaptées à vos supports.</p>
      <p>J’interviens dans des contextes variés : milieux <span id="uk">industriels, agricoles, secteurs innovants, collectivités, associations ou métiers artisanaux</span>, avec une attention particulière portée à la justesse des récits visuels et à la <span id="uk">mise en valeur des savoir-faire</span>.</p>
      <%# <p>Basé en Vendée, je travaille pour les <span id="uk">entreprises </span>, la presse et les <span id="uk">institutionnels</span> et me déplace dans tout l'ouest de la France (en Vendée, à Nantes en Loire-Atlantique et en Bretagne).</p>
      <p>J'accompagne mes clients pour documenter et illustrer la <strong>vie de leur entreprise, association ou institution</strong> en réalisant des <span id="uk">reportages</span> dans leur locaux ou sur site, des séances de <strong><span id="uk">portraits</span></strong>, des photos d'<strong><span id="uk">événementiel</span></strong> ou d'<span id="uk">illustration</span>.</p>
      <p>Je travaille tout autant dans des environnements <strong>industriels</strong> et <strong>IT</strong> qu'au contact d'<strong>artisans</strong> souhaitant valoriser leur savoir-faire.</p> %>
      <div class="spacer"></div>
      <div class="spacer"></div>
      <p class="text-right"><% link_to "demande-de-contact", class: "btn-treehouse2" do %>
        <i class="fa fa-cubes"></i> DEMANDER UN DEVIS
      <% end %></p>
      <div class="big-spacer"></div>
      <p>Je collabore à ce jour avec :</p>
      <h2 class="portraits-h2">ENTREPRISES</h2>
      <p><%= partial 'layouts/clientsentreprises' %></p>
      <h2 class="portraits-h2">MEDIAS</h2>
      <p><%= partial 'layouts/clientsmedias' %></p>
      <p class="text-right"> <i class="fa fa-arrow-down" aria-hidden="true"></i> Télécharger mon <%= link_to 'PORTFOLIO', '/images/Portfolio-Mathieu_Thomasset.pdf', target: "_blank" %></p> <br>
      <div class="spacer"></div>
      <div class="row">
        <h2 class="portraits-h2">PUBLICATIONS</h2>
        <div class="col-sm-12">
          <p><%= partial 'layouts/bofpublications' %></p>
        </div>
      </div>
<div class="spacer"></div>
<section class="infopanelseo">
<!-- Panel 1 -->
<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">Reportages photo pour entreprises en Vendée</h2>
  </div>
  <div class="panel-body">
    <p>
      Reportages en atelier, en usine, en open-space ou sur chantier, pour documenter la vie quotidienne de votre entreprise.
      Ces images valorisent vos métiers, vos innovations et votre environnement de travail, et alimentent vos supports (site, réseaux sociaux, rapports, dossiers presse).
    </p>
  </div>
</div>

<!-- Panel 2 -->
<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">Portraits corporate et d’équipes</h2>
  </div>
  <div class="panel-body">
    <p>
      Portraits de dirigeants, collaborateurs et équipes en situation professionnelle.
      Réalisés en lumière naturelle ou avec studio mobile installé dans vos locaux, pour une image cohérente et professionnelle.
      Découvrez aussi la page <%= link_to 'portraits', 'portraits' %>.
    </p>
  </div>
</div>

<!-- Panel 3 -->
<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">Institutions, associations et collectivités</h2>
  </div>
  <div class="panel-body">
    <p>
      Accompagnement photographique pour vos événements, publications officielles, rapports d’activité et communication grand public.
      Un traitement rigoureux et une livraison rapide adaptée aux impératifs éditoriaux et institutionnels.
    </p>
  </div>
</div>

<!-- Panel 4 -->
<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">Photographe du monde agricole en Vendée</h2>
  </div>
  <div class="panel-body">
    <p>
      J’accompagne les <span id="uk">exploitations agricoles</span>, <span id="uk">viticulteurs</span>, <span id="uk">coopératives</span> et acteurs de l’<span id="uk">agroalimentaire</span>.
      Je documente les gestes, les paysages et les savoir-faire agricoles avec authenticité, pour renforcer votre communication auprès de vos partenaires, clients et institutions.
    </p>
  </div>
</div>

<!-- Panel 5 -->
<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">Valoriser les savoir-faire artisanaux et industriels</h2>
  </div>
  <div class="panel-body">
    <p>
      Du geste précis de l’<span id="uk">artisan</span> à la chaîne de production <span id="uk">industrielle</span>,
      je photographie les savoir-faire et les environnements techniques en respectant les règles de sécurité et les consignes HSE (EPI, procédures).
    </p>
  </div>
</div>
</section>
<section class="faqportraits">
  <h2>FAQ – Reportage & portraits d’entreprise en Vendée</h2>

  <div class="panel-group" id="faqAccordion" role="tablist" aria-multiselectable="true">

    <!-- Q1 -->
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="q1Heading">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#faqAccordion" href="#q1" aria-expanded="false" aria-controls="q1">
            Quels types de reportages photo réalisez-vous en entreprise&nbsp;?
          </a>
        </h4>
      </div>
      <div id="q1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="q1Heading">
        <div class="panel-body">
          Reportages en atelier, usine, open-space ou chantier, ainsi que lors d’événements
          (inauguration, séminaire, visite officielle). Je couvre aussi les métiers <strong>artisanaux</strong>
          et le <strong>monde agricole</strong> (exploitations, coopératives, agroalimentaire) en Vendée et Grand Ouest.
        </div>
      </div>
    </div>

    <!-- Q2 -->
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="q2Heading">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#faqAccordion" href="#q2" aria-expanded="false" aria-controls="q2">
            Comment préparer un reportage photo sur site&nbsp;?
          </a>
        </h4>
      </div>
      <div id="q2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="q2Heading">
        <div class="panel-body">
          Nous définissons vos objectifs (supports, messages, priorités), les lieux, horaires et
          interlocuteurs. Je m’adapte aux contraintes <strong>HSE/EPI</strong> et peux proposer un planning
          par séquence (gestes métier, portraits, vues d’ensemble) pour limiter l’impact sur la production.
        </div>
      </div>
    </div>

    <!-- Q3 -->
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="q3Heading">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#faqAccordion" href="#q3" aria-expanded="false" aria-controls="q3">
            Réalisez-vous aussi des portraits corporate&nbsp;?
          </a>
        </h4>
      </div>
      <div id="q3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="q3Heading">
        <div class="panel-body">
          Oui, portraits de dirigeants et d’équipes, en lumière naturelle ou avec <strong>studio mobile</strong>
          installé dans vos locaux pour une série cohérente (organigramme, LinkedIn, rapport d’activité).
        </div>
      </div>
    </div>

    <!-- Q4 -->
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="q4Heading">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#faqAccordion" href="#q4" aria-expanded="false" aria-controls="q4">
            Quels sont les livrables et délais de livraison&nbsp;?
          </a>
        </h4>
      </div>
      <div id="q4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="q4Heading">
        <div class="panel-body">
          Fichiers HD et web, nommage clair, légendes et mots clés selon vos besoins.
          Délai habituel : 2 à 5 jours ouvrés selon volume et urgence (possibilité d’express pour communication/presse).
        </div>
      </div>
    </div>

    <!-- Q5 -->
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="q5Heading">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#faqAccordion" href="#q5" aria-expanded="false" aria-controls="q5">
            Intervenez-vous uniquement en Vendée&nbsp;?
          </a>
        </h4>
      </div>
      <div id="q5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="q5Heading">
        <div class="panel-body">
          Basé à Saint-Georges-de-Montaigu, j’interviens en Vendée, <strong>Pays de la Loire</strong> et Grand Ouest
          (Nantes, La Roche-sur-Yon, Cholet, Saint-Nazaire…). Les frais sont calculés au plus juste (trajet, péages, si besoin hébergement).
        </div>
      </div>
    </div>

  </div>
</section>

    </div>
    <div class="spacer"></div>
    <div class="col-xs-12 col-sm-8">
      <section id="grid">
        <% data.entreprise.each do |y| %>
          <div class="col-xs-12 col-sm-6 col-lg-6">
            <% if y.vertical == "yes" %>
              <%= image_tag y.picture, width: "100%", class: "center-block" %>
            <% else %>
              <%= image_tag y.picture, width: "100%" %>
            <% end %>
            <div class="spacer"></div>
          </div>
        <% end %>
      </section>
    </div>  
  </div>
</div>
<div class="spacer"></div>
