---
title: Photographe entreprise et institution – Mathieu Thomasset
description: Photographe basé en Vendée, je réalise des reportages et portraits pour valoriser le patrimoine humain et les activités des entreprises et institutions de l’Ouest.
preferred_url: http://www.mathieuthomasset.fr/entreprise
---

<div class="big-spacer"></div>

<div class="container-fluid">
  <div class="row">
    <div class="spacer"></div>
    <div class="col-xs-12 col-sm-3 col-md-offset-1">
      <h1 id="upper">Photographe pour entreprises, institutions et presse</h1>
      </br>
      <p>Basé à Saint-Georges-de-Montaigu en Vendée, je réalise des <span id="uk">reportages photographiques</span> pour <span id="uk">les entreprises, les institutions et la presse</span>, dans toute la région Pays de la Loire et l’Ouest de la France.</p>
      <p>J’apporte un regard documentaire aux structures qui souhaitent valoriser leur <span id="uk">patrimoine humain</span> et <span id="uk">territorial</span>. Mon approche, héritée du photojournalisme, garantit des images <span id="uk">authentiques</span>, <span id="uk">sensibles</span> et immédiatement utilisables dans votre communication, qu’elle soit interne ou externe.</p>
      <p>Je vous accompagne pour documenter la vie de votre entreprise ou institution : <span id="uk">reportages</span> en situation, <%= link_to 'portraits', "portraits"%> des collaborateurs, <span id="uk">événements</span>, ou encore <span id="uk">photographies d’illustration</span> adaptées à vos supports.</p>
      <p>J’interviens dans des contextes variés : milieux <span id="uk">industriels, agricoles, secteurs innovants, collectivités, associations ou métiers artisanaux</span>, avec une attention particulière portée à la justesse des récits visuels et à la <span id="uk">mise en valeur des savoir-faire</span>.</p>
      <%# <p>Basé en Vendée, je travaille pour les <span id="uk">entreprises </span>, la presse et les <span id="uk">institutionnels</span> et me déplace dans tout l'ouest de la France (en Vendée, à Nantes en Loire-Atlantique et en Bretagne).</p>
      <p>J'accompagne mes clients pour documenter et illustrer la <strong>vie de leur entreprise, association ou institution</strong> en réalisant des <span id="uk">reportages</span> dans leur locaux ou sur site, des séances de <strong><span id="uk">portraits</span></strong>, des photos d'<strong><span id="uk">événementiel</span></strong> ou d'<span id="uk">illustration</span>.</p>
      <p>Je travaille tout autant dans des environnements <strong>industriels</strong> et <strong>IT</strong> qu'au contact d'<strong>artisans</strong> souhaitant valoriser leur savoir-faire.</p> %>
      <div class="spacer"></div>
      <div class="spacer"></div>
      <p class="text-right"><% link_to "demande-de-contact", class: "btn-treehouse" do %>
        <i class="fa fa-cubes"></i> DEMANDER UN DEVIS
      <% end %></p>
      <div class="big-spacer"></div>
      <p>Je collabore à ce jour avec :</p>
      <p><%= partial 'layouts/clientsentreprises' %></p>
      <p><%= partial 'layouts/clientsmedias' %></p>
      <p class="text-right"> <i class="fa fa-arrow-down" aria-hidden="true"></i> Télécharger mon <%= link_to 'PORTFOLIO', '/images/Portfolio-Mathieu_Thomasset.pdf', target: "_blank" %></p> <br>
      <div class="spacer"></div>
      <div class="row">
        <div class="col-sm-12">
          <p><%= partial 'layouts/bofpublications' %></p>
        </div>
      </div>
    </div>
    <div class="spacer"></div>
    <div class="col-xs-12 col-sm-8">
      <section id="grid">
        <% data.entreprise.each do |y| %>
          <div class="col-xs-12 col-sm-6 col-lg-6">
            <% if y.vertical == "yes" %>
              <%= image_tag y.picture, width: "100%", class: "center-block" %>
            <% else %>
              <%= image_tag y.picture, width: "100%" %>
            <% end %>
            <div class="spacer"></div>
          </div>
        <% end %>
      </section>
    </div>  
  </div>
</div>
<div class="spacer"></div>
