---
title: Grand Prix de Diane 2016
image_path: http://mathieuthomasset.fr/images/grandprixdiane_01.jpg
description: Dimanche 19 juin 2016 à l'hippodrome de Chantilly se tenait le Grand Prix de Diane, à la fois course hippique, pic-nic géant et concours d'élégance
preferred_url: http://www.mathieuthomasset.fr/grandprixdiane2016
---

<div class="big-spacer"></div>

<div class="container">
  <div class="row">
    <div class="col-sm-9">
      <h1>Grand Prix de Diane, une bulle champêtre</h1>
      </br>
      <p>Chevaux, chapeaux et champagne... une bulle champêtre loin du tumulte parisien de ces dernières semaines. Ce dimanche 19 juin 2016 à l'hippodrome de Chantilly se tenait le Grand Prix de Diane, à la fois course hippique, pic-nic géant et concours d'élégance.</p>
      <div class="spacer"></div>
    </div>
    <div class="col-sm-12 text-right">
      <button class="btn btn-default disabled" id="btn-list"><i class="fa fa-stop"></i> single</button>
      <button class="btn btn-default" id="btn-grid"><i class="fa fa-th-large"></i> planche</button>
      <div class="spacer"></div>
    </div>
    <div class="spacer"></div>
    <section id="grid">
      <% data.diane.each do |y| %>
        <div class="col-sm-12" >
          <a href="images/<%= y.picture %>" class="swipebox" title="<%= y.caption %>">
            <% if y.vertical == "yes" %>
              <%= image_tag y.picture, width: "44%", class: "center-block" %>
            <% else %>
              <%= image_tag y.picture, width: "100%" %>
            <% end %>
          </a>
          <p><%= y.caption %></p>
        </div>
      <% end %>
    </section>
  </div>
</div>

<div class="spacer"></div>
