---
title: Photographe à Nantes - Reportage, Portraits, Corporate
description: Photographe à Nantes (44) - Reportage, Portraits pour la Presse et les Entreprises - Membre du studio Hans Lucas
preferred_url: http://www.mathieuthomasset.fr
---

<header id="myCarousel" class="carousel slide">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <% data.home.each_with_index do |y, index| %>
        <% if index==0 %>
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <% else %>  
          <li data-target="#myCarousel" data-slide-to="<%= index %>"></li>
        <% end %>
      <% end %>
    </ol>
    <!-- Wrapper for Slides -->
    <div class="carousel-inner">
      <% data.home.each_with_index do |y, index| %>
        <% if index==0 %>
          <div class="item active">
        <% else %>
          <div class="item">
        <% end %>
            <div class="fill" style="background-image:url('../images/<%= y.picture %>');"></div>
            <div class="carousel-caption">
              <h1><%= y.title.upcase %></h1>
              <div class="spacer"></div>
              <a href="<%= y.page %>" class="btn-medium"><%= y.category %></a>
            </div>
          </div>
      <% end %>
      </div>
  </div>
    <!-- Controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="icon-next" aria-hidden="true"></span>
    </a>
</header>
<div class="mid-spacer"></div>
<div class="container">
  <div class="row">
    <% data.homecards.each_with_index do |y| %>
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.15), rgba(0,0,0,0.1)), url('images/<%= y.picture %>');">
          <div class="card-category"><%= y.category.upcase %></div>
          <div class="card-description">
            <h2><%= y.title.upcase %></h2>
            <p><%= y.caption %></p>
          </div>
          <a class="card-link" href="<%= y.page %>" ></a>
        </div>
        <div class="spacer"></div>
      </div>
    <% end %>
  </div>
</div>


