---
title: Mathieu Thomasset Photojournaliste
---

<div class="spacer"></div>

<div id="wrapper">
  <div class="container">
    <div class="row">
     <div class="col-sm-6 col-md-3 jspane">
        <a href="bobo.html" class="thumbnail">
          <%= image_tag "bobo_10.jpg" %>
          <div class="text">
            <h1>Horsecart Driver n°20</h1>
            <p>Le quotidien d'un chauffeur de carriole en Birmanie à Bagan, un site archéologique boudhique qui s'étale sur plus de 50 km carrés.</p>
          </div>
        </a>
      </div>
      <div class="col-sm-6 col-md-3 jspane">
        <a href="regis.html" class="thumbnail">
          <%= image_tag "regis3.jpg" %>
          <div class="text">
            <h1>Qu'as-tu fait des rêves de tes 20 ans ?</h1>
            <p>20 ans l'âge de l'insouciance, l'âge des engagements, l'âge des choix. A 20 ans, Régis avait pris l'engagement de réussir ses études tout en rêvant de devenir chanteur.</p>
          </div>
        </a>
      </div>
      <div class="col-sm-6 col-md-3 jspane">
        <a href="julien.html" class="thumbnail">
          <%= image_tag "julien-9.jpg" %>
          <div class="text">
            <h1>Julien, génération geek</h1>
            <p>Une nouvelle génération tout aussi à l’aise dans le maniement d’algorithmes complexes que dans le développement de relations sociales.</p>
          </div>
        </a>
      </div>
      <div class="col-sm-6 col-md-3 jspane">
        <a href="prieres.html" class="thumbnail">
          <%= image_tag "prieres-3.jpg" %>
          <div class="text">
            <h1>Entre deux prières</h1>
            <p>Quelques jours après les attentats de Charlie Hebdo, la grande mosquée de Paris dans le 5ème arrondissement de Paris, alors sous haute protection policière, est totalement désertée par les visiteurs.</p>
          </div>
        </a>
      </div>
      <div class="col-sm-6 col-md-3 jspane">
        <a href="#" class="thumbnail">
          <img src="images/angel1.jpg" alt="...">
          <div class="text">
            <h1>En cours</h1>
          </div>
        </a>
      </div>
      <div class="col-sm-6 col-md-3 jspane">
        <a href="#" class="thumbnail">
          <img src="images/angel1.jpg" alt="...">
           <div class="text">
            <h1>En cours</h1>
          </div>
        </a>
      </div>
      <div class="col-sm-6 col-md-3 jspane">
        <a href="#" class="thumbnail">
          <img src="images/angel1.jpg" alt="...">
           <div class="text">
            <h1>En cours</h1>
          </div>
        </a>
      </div>
      <div class="col-sm-6 col-md-3 jspane">
        <a href="#" class="thumbnail">
          <img src="images/angel1.jpg" alt="...">
           <div class="text">
            <h1>En cours</h1>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="spacer"></div>

<!-- .doc<div class="welcome">
  <h1>Middleman is Watching</h1>
  <p class="doc">
    <%= link_to "Read Online Documentation", "http://middlemanapp.com/" %>
  </p>
</div><! -->
