---
title: Mathieu Thomasset Photojournaliste
---

<div class="spacer"></div>

<div id="wrapper">
  <div class="container">
    <div class="row">
     <div class="col-sm-6 col-md-3 jspane">
        <a href="bobo.html" class="thumbnail">
          <%= image_tag "bobo_10.jpg" %>
          <div class="text">
            Horsecart Driver n°20
          </div>
        </a>
      </div>
      <div class="col-sm-6 col-md-3 jspane">
        <a href="regis.html" class="thumbnail">
          <%= image_tag "regis3.jpg" %>
          <div class="text">
            Qu'as-tu fait des rêves de tes 20 ans ?
          </div>
        </a>
      </div>
      <div class="col-sm-6 col-md-3 jspane">
        <a href="julien.html" class="thumbnail">
          <%= image_tag "julien-9.jpg" %>
          <div class="text">
            Julien, génération geek
          </div>
        </a>
      </div>
      <div class="col-sm-6 col-md-3 jspane">
        <a href="prieres.html" class="thumbnail">
          <%= image_tag "prieres-3.jpg" %>
          <div class="text">
            Entre deux prières
          </div>
        </a>
      </div>
      <div class="col-sm-6 col-md-3 jspane">
        <a href="#" class="thumbnail">
          <img src="images/angel1.jpg" alt="...">
          <div class="text">
            En cours
          </div>
        </a>
      </div>
      <div class="col-sm-6 col-md-3 jspane">
        <a href="#" class="thumbnail">
          <img src="images/angel1.jpg" alt="...">
           <div class="text">
            En cours
          </div>
        </a>
      </div>
      <div class="col-sm-6 col-md-3 jspane">
        <a href="#" class="thumbnail">
          <img src="images/angel1.jpg" alt="...">
           <div class="text">
            En cours
          </div>
        </a>
      </div>
      <div class="col-sm-6 col-md-3 jspane">
        <a href="#" class="thumbnail">
          <img src="images/angel1.jpg" alt="...">
           <div class="text">
            En cours
          </div>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="spacer"></div>

<!-- .doc<div class="welcome">
  <h1>Middleman is Watching</h1>
  <p class="doc">
    <%= link_to "Read Online Documentation", "http://middlemanapp.com/" %>
  </p>
</div><! -->
