---
title: Les indignés de McDonald's
image_path: http://mathieuthomasset.fr/images/indignes-mcdo_01.jpg
description: Manifestation en soutien aux salariés McDonald's à Paris au sein de plusieurs succursales d'un franchisé de la chaine de restauration rapide pour une revalorisation du salaire horaire #FightFor13€ et dénoncer la fraude fiscale dont l'enseigne fait l'objet d'une enquête.
preferred_url: http://www.mathieuthomasset.fr/indignes-mcdonalds
---

<div class="big-spacer"></div>

<div class="container">
  <div class="row">
    <div class="col-sm-9">
      <h1>Les indignés de McDonald's
        </br>2016</h1>
      </br>
      <p>Ce mercredi 26 octobre 2016, manifestation en soutien aux salariés McDonald's à Paris au sein de plusieurs succursales d'un franchisé de la chaine de restauration rapide pour une revalorisation du salaire horaire #FightFor13€ et dénoncer la fraude fiscale dont l'enseigne fait l'objet d'une enquête.</p>
      <div class="spacer"></div>
    </div>
    <div class="col-sm-12 text-right">
      <button class="btn btn-default fa fa-stop disabled" id="btn-list"> slide</button>
      <button class="btn btn-default fa fa-th-large" id="btn-grid"> planche</button>
      <div class="spacer"></div>
    </div>
    <div class="spacer"></div>
    <section id="grid">
      <% data.mcdonalds.each do |y| %>
        <div class="col-xs-12">
          <a href="images/<%= y.picture %>" class="swipebox" title="<%= y.caption %>">
            <% if y.vertical == "yes" %>
              <%= image_tag y.picture, width: "45%", class: "center-block" %>
            <% else %>
              <%= image_tag y.picture, width: "100%" %>
            <% end %>
          </a>
          <p><%= y.caption %></p>
        </div>
      <% end %>
    </section>
  </div>
</div>
<div class="spacer"></div>
