---
title: Julien, génération geek
---

<div class="spacer"></div>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h3>Julien, génération geek</h3>
      <p>Julien est un jeune développeur et entrepreneur sur Paris, qui a deux visages. </br>D’un côté, un développeur talentueux et solitaire, qui lorsqu’il programme en oublie totalement le monde extérieur. Son esprit est alors totalement absorbé, il est dans la matrice.</br>D’un autre côté, un membre actif et très sociable d’une communauté de développeurs et entrepreneurs, pleinement intégré dans l’écosystème des start-ups à Paris. </br>Ces deux facettes sont les traits caractéristiques d’une nouvelle génération aussi à l’aise dans le maniement d’algorithmes complexes que dans le développement de relations sociales tout aussi importantes à la réussite de leur projet.</br> Julien est responsable informatique d’une start-up, Viewrz, membre du jury de l’incubateur Le Camping hébergé à Numa et organisateur d’une conférence sur la sécurité informatique… </br> En 2013, Julien était désigné par ses pairs comme faisant partie des 20 entrepreneurs de moins de 30 ans les plus marquants de l’année : 20 hot french entrepreneurs under 30.</p>
      <div class="spacer"></div>
    </div>
    <div class="col-sm-12">
      <%= image_tag "julien-1.jpg", width: "100%" %>
      <p></p>
    </div>
    <div class="col-sm-12">
      <%= image_tag "julien-2.jpg", width: "100%" %>
      <p></p>
    </div>
    <div class="col-sm-12">
      <%= image_tag "julien-3.jpg", width: "100%" %>
      <p></p>
    </div>
    <div class="col-sm-12">
      <%= image_tag "julien-4.jpg", width: "100%" %>
      <p></p>
    </div>
    <div class="col-sm-12">
      <%= image_tag "julien-5.jpg", width: "100%" %>
      <p></p>
    </div>
    <div class="col-sm-12">
      <%= image_tag "julien-6.jpg", width: "100%" %>
      <p></p>
    </div>
    <div class="col-sm-12">
      <%= image_tag "julien-7.jpg", width: "100%" %>
      <p></p>
    </div>
    <div class="col-sm-12">
      <%= image_tag "julien-8.jpg", width: "100%" %>
      <p></p>
    </div>
    <div class="col-sm-12">
      <%= image_tag "julien-9.jpg", width: "100%" %>
      <p></p>
    </div>
    <div class="col-sm-12">
      <%= image_tag "julien-10.jpg", width: "100%" %>
      <p></p>
    </div>
    <div class="col-sm-12">
      <%= image_tag "julien-11.jpg", width: "100%" %>
      <p></p>
    </div>
    <div class="col-sm-12">
      <%= image_tag "julien-12.jpg", width: "100%" %>
      <p></p>
    </div>
    <div class="col-sm-12">
      <%= image_tag "julien-13.jpg", width: "100%" %>
      <p></p>
    </div>
    <div class="col-sm-12">
      <%= image_tag "julien-14.jpg", width: "100%" %>
      <p></p>
    </div>
  </div>
</div>

<div class="spacer"></div>
