---
title: Photographe professionnel à Nantes - Mariage, Reportage, Portrait studio
description: Photographe professionnel de mariage, portrait à Nantes (44) - Reportage et portraits pour la Presse, les Entreprises et les particuliers - Membre du studio Hans Lucas
preferred_url: http://www.mathieuthomasset.fr/mariage
---

<div class="big-spacer"></div>

<div class="container">
  <div class="row">
    <div class="spacer"></div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <h1 style="text-transform: uppercase;">Photographe professionnel à Nantes</h1>
      <h1 style="color: grey;">#Mariage #Portraits #Reportage</h1>
      <div class="spacer"></div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-8">
      <p>Formé à Paris aux Gobelins, l'école de l'image, et en photojournalisme au sein de l'Ecole des Métiers de l'Information (EMI), je suis <strong>photographe indépendant</strong> basé à Nantes et je travaille principalement pour la Presse, les Institutionnels et les Entreprises mais aussi pour les particuliers. </br> Je me propose de mettre mon expérience du reportage et du portrait ainsi que mon regard d’auteur photographe pour vous accompagner dans vos projets : reportage de <strong>mariage</strong>, séance de <strong>portrait</strong> en couple, famille...</p>
      <p class="text-right"> <i class="fa fa-arrow-down" aria-hidden="true"></i> Télécharger mon portfolio <%= link_to 'MARIAGES', '/images/Portfolio_Mariage_MThomasset.pdf', target: "_blank" %></br><i class="fa fa-envelope-o"></i> Demander un <a href="mailto:mathieuthomasset@gmx.com?subject=Demande_de_devis_mariage">devis</a></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div id="accordion" class="text-right">
        <div class="panel">
          <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-expanded="false" aria-controls="collapseOne">
                <i class="fa fa-th-large"></i> Consulter mon portfolio
              </a>
            </h4>
          </div>
          <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
            <div class="row">
              <div class="spacer"></div>
              <section id="grid">
                <% data.mariage.each do |y| %>
                  <div class="col-sm-4">
                    <a href="images/<%= y.picture %>" class="swipebox" title="<%= y.caption %>">
                      <% if y.vertical == "yes" %>
                        <%= image_tag y.picture, width: "44%", class: "center-block" %>
                      <% else %>
                        <%= image_tag y.picture, width: "100%" %>
                      <% end %>
                      <div class="spacer"></div>
                    </a>
                  </div>
                <% end %>
              </section>
            </div>
            <div class="panel-heading" role="tab" id="headingOne">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-expanded="false" aria-controls="collapseOne">
                  <i class="fa fa-th-large"></i> Fermer le portfolio
                </a>
              </h4>
            </div>
          </div>
        </div>
      </div>
      <div class="spacer"></div>
    </div>
  </div>
  <div class="row">
     <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="card-trip">
        <div class="card-img" style="background-image: url('images/mariage-nb_06.jpg');"></div>
        <div class="card-trip-infos">
          <div>
            <h2>Séance portrait</h2>
            <p>
              <ul>
                <li>durée : 1h</li>
                <li>Livraison de 10 photos HD</li>
                <li>En lumière naturelle ou studio mobile</li>
                <li>Tirage papier en option</li>
              </ul></p>
          </div>
        </div>
        <div class="card-trip-pricing">
          <h3>160€</h3>
        </div>
        <a href="mailto:mathieuthomasset@gmx.com?subject=Réservation_seance_portrait" class="btn btn-default" role="button">Réserver</a>
      </div>
     </div>
     <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="card-trip">
        <div class="card-img" style="background-image: url('images/mariage-nb_05.jpg');"></div>
        <div class="card-trip-infos">
          <div>
            <h2>Portrait en couple</h2>
            <p>
              <ul>
                <li>durée : 1h30</li>
                <li>Livraison de 50 photos HD</li>
                <li>En lumière naturelle ou studio mobile</li>
                <li>Tirage papier en option</li>
              </ul></p>
          </div>
        </div>
        <div class="card-trip-pricing">
          <h3>350€</h3>
        </div>
        <a href="mailto:mathieuthomasset@gmx.com?subject=Réservation_seance_portrait_en_couple" class="btn btn-default">Réserver</a>
      </div>
     </div>
     <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="card-trip">
        <div class="card-img" style="background-image: url('images/mariage-nb_01.jpg');"></div>
        <div class="card-trip-infos">
          <div>
            <h2>Reportage mariage</h2>
            <p>
              <ul>
                <li>durée : 1/2 journée</li>
                <li>Livraison de 150 photos HD</li>
                <li>Reportage</li>
                <li>Galerie web</li>
              </ul></p>
          </div>
        </div>
        <div class="card-trip-pricing">
          <h3>750€</h3>
        </div>
        <a href="mailto:mathieuthomasset@gmx.com?subject=Réservation_reportage_mariage" class="btn btn-default">Réserver</a>
      </div>
     </div>
     <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="card-trip">
        <div class="card-img" style="background-image: url('images/mariage-nb_04.jpg');"></div>
        <div class="card-trip-infos">
          <div>
            <h2>Forfait mariage</h2>
            <p>
              <ul>
                <li>durée : 1 journée</li>
                <li>Livraison de 350 photos HD</li>
                <li>Reportage + Séance portrait</li>
                <li>Galerie web</li>
              </ul></p>
          </div>
        </div>
        <div class="card-trip-pricing">
          <h3>1500€</h3>
        </div>
        <a href="mailto:mathieuthomasset@gmx.com?subject=Réservation_forfait_mariage" class="btn btn-default">Réserver</a>
      </div>
     </div>
  </div>
  <div class="spacer"></div>
  <div class="spacer"></div>
  <div class="spacer"></div>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card" data-toggle="modal" data-target="#myModal1" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.1)), url('images/portrait-aymeric_06.jpg');">
        <div class="card-category">PORTRAIT</div>
        <div class="card-description">
          <h2>Aymeric</h2>
          <p>Studio</p>
        </div>
      </div>
      <!-- Modal -->
      <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Séance portrait Aymeric</h4>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4">
                  <%= image_tag "portrait-aymeric_01.jpg", width: "100%" %>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                  <%= image_tag "portrait-aymeric_02.jpg", width: "100%" %>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                  <%= image_tag "portrait-aymeric_03.jpg", width: "100%" %>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                  <%= image_tag "portrait-aymeric_04.jpg", width: "100%" %>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                  <%= image_tag "portrait-aymeric_05.jpg", width: "100%" %>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                  <%= image_tag "portrait-aymeric_06.jpg", width: "100%" %>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      <div class="spacer"></div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card" data-toggle="modal" data-target="#myModal2" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.1)), url('images/portraitjulien-1.jpg');">
        <div class="card-category">PORTRAIT</div>
        <div class="card-description">
          <h2>JULIEN</h2>
          <p>Studio</p>
        </div>
      </div>
      <!-- Modal -->
      <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Séance portrait Julien</h4>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-sm-6">
                  <%= image_tag "portraitjulien-1.jpg", width: "100%" %>
                </div>
                <div class="col-sm-6">
                  <%= image_tag "portraitjulien-2.jpg", width: "100%" %>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      <div class="spacer"></div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card" data-toggle="modal" data-target="#myModal3" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.1)), url('images/mariage_25.jpg');">
        <div class="card-category">MARIAGE</div>
        <div class="card-description">
          <h2>Audrey & Marc</h2>
          <p>Reportage</p>
        </div>
      </div>
      <!-- Modal -->
      <div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Mariage Audrey & Marc</h4>
            </div>
            <div class="modal-body">
              <p>Consultation privée</p>
               <%= image_tag "mariage_25.jpg", width: "400px" %>
             </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      <div class="spacer"></div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card" data-toggle="modal" data-target="#myModal4" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.1)), url('images/mariage_06.jpg');">
        <div class="card-category">MARIAGE</div>
        <div class="card-description">
          <h2>Olivia & Sven</h2>
          <p>Reportage et portrait</p>
        </div>
      </div>
      <!-- Modal -->
      <div class="modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Audrey & Marc /// mariage à Bias ///</h4>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4">
                  <%= image_tag "mariage_04.jpg", width: "100%" %>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                  <%= image_tag "mariage_05.jpg", width: "100%" %>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                  <%= image_tag "mariage_06.jpg", width: "100%" %>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                  <%= image_tag "mariage_01.jpg", width: "100%" %>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                  <%= image_tag "mariage_02.jpg", width: "100%" %>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                  <%= image_tag "mariage_03.jpg", width: "100%" %>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                  <%= image_tag "mariage_08.jpg", width: "100%" %>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                  <%= image_tag "mariage_09.jpg", width: "100%" %>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                  <%= image_tag "mariage_10.jpg", width: "100%" %>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                  <%= image_tag "mariage_11.jpg", width: "100%" %>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                  <%= image_tag "mariage_12.jpg", width: "100%" %>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                  <%= image_tag "mariage_13.jpg", width: "100%" %>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      <div class="spacer"></div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card" data-toggle="modal" data-target="#myModal5" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.1)), url('images/mariage_20.jpg');">
        <div class="card-category">MARIAGE</div>
        <div class="card-description">
          <h2>Olivia & Sven</h2>
          <p>Reportage</p>
        </div>
      </div>
      <!-- Modal -->
      <div class="modal fade" id="myModal5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Audrey & Marc /// mariage civil à Lausanne ///</h4>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4">
                  <%= image_tag "mariage_15.jpg", width: "85%" %>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                  <%= image_tag "mariage_17.jpg", width: "100%" %>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                  <%= image_tag "mariage_19.jpg", width: "100%" %>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                  <%= image_tag "mariage_20.jpg", width: "100%" %>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                  <%= image_tag "mariage_21.jpg", width: "100%" %>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                  <%= image_tag "mariage_22.jpg", width: "100%" %>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                  <%= image_tag "mariage_23.jpg", width: "100%" %>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                  <%= image_tag "mariage_24.jpg", width: "100%" %>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      <div class="spacer"></div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card" data-toggle="modal" data-target="#myModal6" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.1)), url('images/angel1.jpg');">
        <div class="card-category">PORTRAIT</div>
        <div class="card-description">
          <h2>Caroline</h2>
          <p>Studio</p>
        </div>
      </div>
      <!-- Modal -->
      <div class="modal fade" id="myModal6" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Séance portrait Caroline</h4>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-sm-12">
                  <p>Consultation privée</p>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <%= image_tag "angel1.jpg", width: "100%" %>
                </div>
                <div class="col-sm-6">
                  <%= image_tag "angel2.jpg", width: "100%" %>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      <div class="spacer"></div>
    </div>
  </div>
  <div class="spacer"></div>
  <div class="spacer"></div>
<!--   <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel-position">
      <div class="panel-heading" role="tab" id="headingOne">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-expanded="false" aria-controls="collapseOne">
            <i class="fa fa-th-large"></i> Consulter le portfolio
          </a>
        </h4>
      </div>
      <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
        <div class="row">
          <div class="spacer"></div>
          <section id="grid">
            <% data.mariage.each do |y| %>
              <div class="col-sm-4">
                <a href="images/<%= y.picture %>" class="swipebox" title="<%= y.caption %>">
                  <% if y.vertical == "yes" %>
                    <%= image_tag y.picture, width: "44%", class: "center-block" %>
                  <% else %>
                    <%= image_tag y.picture, width: "100%" %>
                  <% end %>
                  <div class="spacer"></div>
                </a>
              </div>
            <% end %>
          </section>
        </div>
        <div class="panel-heading" role="tab" id="headingOne">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-expanded="false" aria-controls="collapseOne">
              <i class="fa fa-th-large"></i> Fermer le portfolio
            </a>
          </h4>
        </div>
      </div>
    </div>
  </div> -->
</div>
<div class="spacer"></div>
