---
title: Marseille reborn 
image_path: http://mathieuthomasset.fr/images/marseille-reborn_01.jpg
description: 
preferred_url: http://www.mathieuthomasset.fr/marseille-reborn.html
---

<div class="big-spacer"></div>

<div class="container">
  <div class="row">
    <div class="col-sm-9">
      <h1>Marseille reborn
        </br>2016</h1>
      </br>
      <p>Le renouveau du quartier de la Joliette à Marseille, épicentre du renouveau culturel de la ville. Avec le MuCEm, les Docks, le fort Saint Jean, les Halles de la Major, l'ancien quartier portuaire de la ville s'est mué en quartier d'affaires moderne avec ses nombreux centres commerciaux. L'ensemble s'inscrit dans le projet Marseille Euroméditerranée, la plus grande opération de rénovation urbaine d'Europe du Sud, qui, en près de vingt, a refaçonné le visage de la ville en vue d'en faire un des pôles majeurs en méditérranée.</p>
      <div class="spacer"></div>
    </div>
    <div class="col-sm-12 text-right">
      <button class="btn btn-default fa fa-stop disabled" id="btn-list"> slide</button>
      <button class="btn btn-default fa fa-th-large" id="btn-grid"> planche</button>
      <div class="spacer"></div>
    </div>
    <div class="spacer"></div>
    <section id="grid">
      <% data.marseille.each do |y| %>
        <div class="col-sm-12" >
          <a href="images/<%= y.picture %>" class="swipebox" title="<%= y.caption %>">
            <% if y.vertical == "yes" %>
              <%= image_tag y.picture, width: "44%", class: "center-block" %>
            <% else %>
              <%= image_tag y.picture, width: "100%" %>
            <% end %>
          </a>
          <p><%= y.caption %></p>
        </div>
      <% end %>
    </section>
  </div>
</div>

<div class="spacer"></div>
