---
title: Dans les coulisses de la Philharmonie de Paris
image_path: http://mathieuthomasset.fr/images/philharmonie_01.jpg
description: Inaugurée au janvier 2015, la Philharmonie de Paris est un lieu culturel exceptionnel ouvrant une passerelle entre Paris et la banlieue, entre amateurs et professionnels.
preferred_url: http://www.mathieuthomasset.fr/philharmonie.html
---

<div class="spacer"></div>

<div class="container">
  <div class="row">
    <div class="col-sm-9">
      <h1>Dans les coulisses de la Philharmonie de Paris
        </br>2016</h1>
      </br>
      <p>Inaugurée au janvier 2015, la Philharmonie de Paris est un lieu culturel exceptionnel ouvrant une passerelle entre Paris et la banlieue, entre amateurs et professionnels. Conçu par Jean Nouvel et Marshall Day Acoustics pour l'acoustique du bâtiment, la Philharmonie est la première pierre du futur Grand Paris. </br>En plein préparatifs pour le festival DAYS OFF, qui ouvrira ses portes au public le 30 juin 2016, les techniciens préparent la grande salle à la veille de l'ouverture au public. En configuration symphonique, celle-ci dispose de 2400 places assises et 3600 places en configuration concert. C'est dans cette configuration que la Philharmonie accueillera le festival. Et, dès la rentrée les terrasses sur le toit du bâtiment offrant une vue à 360° sur Paris et la banlieue seront ouvertes au public.</p>
      <div class="spacer"></div>
    </div>
    <div class="col-sm-12 text-right">
      <button class="btn btn-default fa fa-stop" id="btn-list"> slide</button>
      <button class="btn btn-default fa fa-th-large disabled" id="btn-grid"> planche</button>
      <div class="spacer"></div>
    </div>
    <div class="spacer"></div>
    <section id="grid">
      <% data.philharmonie.each do |y| %>
        <div class="col-xs-6 col-sm-4">
          <a href="images/<%= y.picture %>" class="swipebox" title="<%= y.caption %>">
            <% if y.vertical == "yes" %>
              <%= image_tag y.picture, width: "45%", class: "center-block" %>
            <% else %>
              <%= image_tag y.picture, width: "100%" %>
            <% end %>
          </a>
          <p><%= y.caption %></p>
        </div>
      <% end %>
    </section>
  </div>
</div>
<div class="spacer"></div>
