---
title: "Photographe d'entreprise à Nantes — Portrait Corporate & Reportage | Mathieu Thomasset"
description: "Photographe professionnel à Nantes et en Loire-Atlantique : portraits de dirigeants, reportages corporate, studio mobile. Interventions pour entreprises, institutions et médias."
preferred_url: https://www.mathieuthomasset.fr/photographe-nantes
---

<div class="big-spacer"></div>

<div class="container-fluid">
  <div class="row">
    <div class="spacer"></div>
    <div class="col-xs-12 col-sm-3 col-md-offset-1">
      <h1 id="upper">Photographe d'entreprise à Nantes</h1>
      <h3 style="text-transform: uppercase;">Portrait Corporate &amp; Reportage d'entreprise</h3>
      </br>
      <p>Formé à Paris aux Gobelins, l'école de l'image, et en photojournalisme au sein de l'Ecole des Métiers de l'Information (EMI), je suis <strong><span id="uk">photographe professionnel</span></strong> indépendant et j'interviens régulièrement à <span id="uk">Nantes</span> et en <span id="uk">Loire-Atlantique</span> pour des missions de <span id="uk">portrait corporate</span>, de <span id="uk">reportage d'entreprise</span> et de <span id="uk">communication institutionnelle</span>.</br> Je travaille pour les <span id="uk">entreprises</span>, les <span id="uk">institutions</span> et les <span id="uk">médias</span> du Grand Ouest — avec un studio mobile déplaçable directement dans vos locaux.</p>
      <div class="spacer"></div>
      <div class="spacer"></div>
      <p class="text-right"><% link_to "demande-de-contact", class: "btn-treehouse" do %>
        <i class="fa fa-cubes"></i> DEMANDER UN DEVIS
      <% end %></p>
      <div class="big-spacer"></div>
      <p>Je collabore à ce jour avec :</p>
      <p><%= partial 'layouts/clientsentreprises' %></p>
      <p><%= partial 'layouts/clientsmedias' %></p>
      <div class="spacer"></div>
      <p class="text-left"><i class="fa fa-arrow-down" aria-hidden="true"></i> Télécharger mon <%= link_to 'PORTFOLIO', '/images/Portfolio-Mathieu_Thomasset.pdf', target: "_blank" %></p>
      <div class="spacer"></div>
    </div>
    <div class="spacer"></div>
    <div class="col-xs-12 col-sm-8">
      <section id="grid">
        <% data.global.each do |y| %>
          <div class="col-xs-12 col-sm-6 col-lg-6">
            <a href="images/<%= y.picture %>" class="swipebox" title="<%= y.caption %>">
              <% if y.vertical == "yes" %>
                <%= image_tag y.picture, width: "100%", class: "center-block" , loading: "lazy" %>
              <% else %>
                <%= image_tag y.picture, width: "100%" , loading: "lazy" %>
              <% end %>
            </a>
            <div class="spacer"></div>
          </div>
        <% end %>
      </section>
    </div>
  </div>
</div>
<div class="spacer"></div>
