---
title: "Photographe en Vendée — Portraits & Reportages"
description: "Photographe professionnel basé en Vendée. Portraits corporate, reportages pour la presse et les entreprises, studio mobile et tirages photographiques d’art signés."
preferred_url: "https://www.mathieuthomasset.fr/photographe-vendee"
---

<div class="big-spacer"></div>

<div class="container-fluid">
  <div class="row">
    <div class="spacer"></div>
    <div class="col-xs-12 col-sm-3 col-md-offset-1">
      <h1 id="upper">Photographe professionnel en Vendée</h1>
      <h3 style="text-transform: uppercase;">Portrait et Reportage</h3>
      </br>
      <p>Formé à Paris aux Gobelins, l'école de l'image, et en photojournalisme au sein de l'Ecole des Métiers de l'Information (EMI), je suis <strong><span id="uk">photographe professionnel</span></strong> indépendant basé à Montaigu-Vendée et je travaille principalement pour la <span id="uk">Presse </span>, les <span id="uk">Institutionnels </span> et les <span id="uk">Entreprises </span> mais aussi pour les <span id="uk">Particuliers</span>. </br> Je me propose de mettre mon expérience du <span id="uk">reportage</span> et du <span id="uk">portrait</span> ainsi que mon regard d'<span id="uk">auteur</span> photographe pour vous accompagner dans vos projets.</p>
      <div class="spacer"></div>
      <div class="spacer"></div>
      <p class="text-right"><% link_to "demande-de-contact", class: "btn-treehouse" do %>
        <i class="fa fa-cubes"></i> DEMANDER UN DEVIS
      <% end %></p>
      <div class="big-spacer"></div>
      <p>Je collabore à ce jour avec :</p>
      <p><%= partial 'layouts/clientsentreprises' %></p>
      <p><%= partial 'layouts/clientsmedias' %></p>
      <div class="spacer"></div>
      <p><i class="fa fa-arrow-down" aria-hidden="true"></i> Télécharger mon <%= link_to 'PORTFOLIO', '/images/Portfolio-Mathieu_Thomasset.pdf', target: "_blank" %></p>
      <div class="spacer"></div>
      <p><strong>Zones & spécialités :</strong></p>
      <ul>
        <li><%= link_to 'Photographe à La Roche-sur-Yon', 'photographe-la-roche-sur-yon' %></li>
        <li><%= link_to 'Photographe à Nantes', 'photographe-nantes' %></li>
        <li><%= link_to "Photographe d'artisans en Vendée", 'photographe-artisan-vendee' %></li>
        <li><%= link_to 'Photographe du monde agricole en Vendée', 'photographe-agriculture-vendee' %></li>
      </ul>
      <!-- <p class="text-left"> <i class="fa fa-arrow-down" aria-hidden="true"></i> Télécharger mon portfolio <%= link_to 'PARTICULIERS', '/images/Portfolio_Mariage_MThomasset.pdf', target: "_blank" %>, <%= link_to 'ENTREPRISES', '/images/Portfolio_Corporate_MThomasset.pdf', target: "_blank" %>, <%= link_to 'PORTRAITS', '/images/Portfolio_Portrait_MThomasset.pdf', target: "_blank" %></p> --><br>
      <div class="spacer"></div>

      <h2 class="portraits-h2">Mes domaines d'intervention en Vendée</h2>
      <ul>
        <li><a href="/portraits">Portrait professionnel et corporate</a> — dirigeants, équipes, LinkedIn</li>
        <li><a href="/entreprise">Reportage d'entreprise</a>, artisanat et agriculture</li>
        <li>Presse, institutions et collectivités</li>
        <li>Événements, inaugurations, séminaires</li>
      </ul>

      <div class="spacer"></div>

      <h2 class="portraits-h2">Zones d'intervention en Vendée</h2>
      <p>Basé à Montaigu-Vendée (85), j'interviens sur l'ensemble du département :
      <a href="/photographe-la-roche-sur-yon">La Roche-sur-Yon</a>, Les Sables-d'Olonne, Fontenay-le-Comte, Challans,
      Saint-Gilles-Croix-de-Vie, Luçon, Pouzauges... et au-delà vers Nantes,
      Saint-Nazaire et tout le Grand Ouest.</p>

      <div class="spacer"></div>

      <section class="faqportraits">
        <h2>FAQ — Photographe en Vendée</h2>
        <div class="panel-group" id="faqVendeeAccordion" role="tablist" aria-multiselectable="true">

          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="vq1Heading">
              <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#faqVendeeAccordion" href="#vq1" aria-expanded="false" aria-controls="vq1" class="collapsed">
                  Vous êtes photographe basé en Vendée&nbsp;?
                </a>
              </h4>
            </div>
            <div id="vq1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="vq1Heading">
              <div class="panel-body">
                Oui, je suis basé à Montaigu-Vendée, au cœur du département,
                à équidistance de La Roche-sur-Yon et de Nantes. Cette position centrale
                me permet d'intervenir rapidement sur l'ensemble de la Vendée et du Grand Ouest.
              </div>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="vq2Heading">
              <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#faqVendeeAccordion" href="#vq2" aria-expanded="false" aria-controls="vq2" class="collapsed">
                  Quels types de missions réalisez-vous en Vendée&nbsp;?
                </a>
              </h4>
            </div>
            <div id="vq2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="vq2Heading">
              <div class="panel-body">
                <a href="/portraits">Portrait professionnel et corporate</a>, <a href="/entreprise">reportage d'entreprise</a>,
                couverture d'événements, presse et institutions, <a href="/photographe-artisan-vendee">photographie d'artisans</a>
                et <a href="/photographe-agriculture-vendee">du monde agricole</a>.
                Chaque mission fait l'objet d'un devis personnalisé.
              </div>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="vq3Heading">
              <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#faqVendeeAccordion" href="#vq3" aria-expanded="false" aria-controls="vq3" class="collapsed">
                  Intervenez-vous dans tout le département&nbsp;?
                </a>
              </h4>
            </div>
            <div id="vq3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="vq3Heading">
              <div class="panel-body">
                Oui, j'interviens dans toute la Vendée sans frais kilométriques
                supplémentaires jusqu'à 50 km de Montaigu. Au-delà, les frais de déplacement
                sont calculés au plus juste et intégrés au devis.
              </div>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="vq4Heading">
              <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#faqVendeeAccordion" href="#vq4" aria-expanded="false" aria-controls="vq4" class="collapsed">
                  Quel est votre délai de livraison&nbsp;?
                </a>
              </h4>
            </div>
            <div id="vq4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="vq4Heading">
              <div class="panel-body">
                En général 2 à 5 jours ouvrés selon le volume. Une livraison express
                est possible pour les besoins presse ou communication urgente.
              </div>
            </div>
          </div>

        </div>
      </section>

    </div>
    <div class="spacer"></div>
    <div class="col-xs-12 col-sm-8">
      <section id="grid">
        <% data.vendee.each do |y| %>
          <div class="col-xs-12 col-sm-6 col-lg-6">
            <a href="images/<%= y.picture %>" class="glightbox" data-gallery="galerie" data-title="<%= y.caption %>">
              <% if y.vertical == "yes" %>
                <%= picture_tag y.picture, width: 640, height: 960, class: "center-block", style: "width:100%;height:auto", loading: "lazy" %>
              <% else %>
                <%= picture_tag y.picture, width: 960, height: 640, style: "width:100%;height:auto", loading: "lazy" %>
              <% end %>
            </a>
            <div class="spacer"></div>
          </div>
        <% end %>
      </section>
    </div>  
  </div>
</div>
<div class="spacer"></div>

