---
title: Mathieu Thomasset - Photographe à Nantes
description: Photographe pour les particuliers et les entreprises à Nantes et en Loire-Atlantique (44) - Reportage, Portraits, Studio mobile
preferred_url: http://www.mathieuthomasset.fr/photographe-nantes
---

<div class="big-spacer"></div>

<div class="container">
  <div class="row">
    <div class="spacer"></div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <h1 style="text-transform: uppercase;">Photographe professionnel à Nantes</h1>
      <h1 style="color: grey;"># Mariage # Portraits # Reportage</h1>
      <div class="spacer"></div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-8">
      <p>Formé à Paris aux Gobelins, l'école de l'image, et en photojournalisme au sein de l'Ecole des Métiers de l'Information (EMI), je suis <strong><span id="uk">photographe professionnel</span></strong> indépendant basé à Nantes et je travaille principalement pour la <span id="uk">Presse </span>, les <span id="uk">Institutionnels </span> et les <span id="uk">Entreprises </span> mais aussi pour les <span id="uk">Particuliers</span>. </br> Je me propose de mettre mon expérience du <span id="uk">reportage</span> et du <span id="uk">portrait</span> ainsi que mon regard d'<span id="uk">auteur</span> photographe pour vous accompagner dans vos projets...</p>
      <p>Je collabore à ce jour avec :</p>
      <p><span id="uk">/// Entreprise ///</span> APMSL, Ici Barbès, Les Echos Publishing, Les Enigmatics, MAIF, OuestMedialab, Port de Nantes Saint-Nazaire, Swpl, Teminal du Grand Ouest, Université de Nantes, Virage Group</p>
      <p><span id="uk">/// Média ///</span> Alternatives Economiques, Financial Times, La Croix, Le Figaro, Le Journal du Dimanche, Le Moniteur, Le Parisien Magazine, Le Parisien Aujourd’hui en France, Les Echos, Les Cahiers Science&Vie, Libération, LSA, Les Jours, Pélerin, Télérama</p></br>
      <p class="text-right"> <i class="fa fa-arrow-down" aria-hidden="true"></i> Télécharger mon portfolio <%= link_to 'PARTICULIERS', '/images/Portfolio_Mariage_MThomasset.pdf', target: "_blank" %>, <%= link_to 'ENTREPRISES', '/images/Portfolio_Corporate_MThomasset.pdf', target: "_blank" %>, <%= link_to 'PORTRAITS', '/images/Portfolio_Portrait_MThomasset.pdf', target: "_blank" %></p> <br>
    </div>
  </div>
  <div class="spacer"></div>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card" data-toggle="modal" data-target="#myModal1" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.1)), url('images/portrait-aymeric_06.jpg');">
        <div class="card-category">PORTRAIT</div>
        <div class="card-description">
          <h2>Aymeric</h2>
          <p>Studio</p>
        </div>
      </div>
      <!-- Modal -->
      <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Séance portrait Aymeric</h4>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4">
                  <%= image_tag "portrait-aymeric_01.jpg", width: "100%" %>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                  <%= image_tag "portrait-aymeric_02.jpg", width: "100%" %>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                  <%= image_tag "portrait-aymeric_03.jpg", width: "100%" %>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                  <%= image_tag "portrait-aymeric_04.jpg", width: "100%" %>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                  <%= image_tag "portrait-aymeric_05.jpg", width: "100%" %>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                  <%= image_tag "portrait-aymeric_06.jpg", width: "100%" %>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      <div class="spacer"></div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card" data-toggle="modal" data-target="#myModal6" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.1)), url('images/angel1.jpg');">
        <div class="card-category">PORTRAIT</div>
        <div class="card-description">
          <h2>Caroline</h2>
          <p>Studio</p>
        </div>
      </div>
      <!-- Modal -->
      <div class="modal fade" id="myModal6" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Séance portrait Caroline</h4>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-sm-12">
                  <p>Consultation privée</p>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <%= image_tag "angel1.jpg", width: "100%" %>
                </div>
                <div class="col-sm-6">
                  <%= image_tag "angel2.jpg", width: "100%" %>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      <div class="spacer"></div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card" data-toggle="modal" data-target="#myModal2" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.1)), url('images/portraitjulien-1.jpg');">
        <div class="card-category">PORTRAIT</div>
        <div class="card-description">
          <h2>JULIEN</h2>
          <p>Studio</p>
        </div>
      </div>
      <!-- Modal -->
      <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Séance portrait Julien</h4>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-sm-6">
                  <%= image_tag "portraitjulien-1.jpg", width: "100%" %>
                </div>
                <div class="col-sm-6">
                  <%= image_tag "portraitjulien-2.jpg", width: "100%" %>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      <div class="spacer"></div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card" data-toggle="modal" data-target="#myModal3" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.1)), url('images/mariage_25.jpg');">
        <div class="card-category">MARIAGE</div>
        <div class="card-description">
          <h2>Audrey & Marc</h2>
          <p>Reportage</p>
        </div>
      </div>
      <!-- Modal -->
      <div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Mariage Audrey & Marc</h4>
            </div>
            <div class="modal-body">
              <p>Consultation privée</p>
               <%= image_tag "mariage_25.jpg", width: "400px" %>
             </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      <div class="spacer"></div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card" data-toggle="modal" data-target="#myModal4" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.1)), url('images/mariage_06.jpg');">
        <div class="card-category">MARIAGE</div>
        <div class="card-description">
          <h2>Olivia & Sven</h2>
          <p>Reportage et portrait</p>
        </div>
      </div>
      <!-- Modal -->
      <div class="modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Audrey & Marc /// mariage à Bias ///</h4>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4">
                  <%= image_tag "mariage_04.jpg", width: "100%" %>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                  <%= image_tag "mariage_05.jpg", width: "100%" %>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                  <%= image_tag "mariage_06.jpg", width: "100%" %>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                  <%= image_tag "mariage_01.jpg", width: "100%" %>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                  <%= image_tag "mariage_02.jpg", width: "100%" %>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                  <%= image_tag "mariage_03.jpg", width: "100%" %>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                  <%= image_tag "mariage_08.jpg", width: "100%" %>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                  <%= image_tag "mariage_09.jpg", width: "100%" %>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                  <%= image_tag "mariage_10.jpg", width: "100%" %>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                  <%= image_tag "mariage_11.jpg", width: "100%" %>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                  <%= image_tag "mariage_12.jpg", width: "100%" %>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                  <%= image_tag "mariage_13.jpg", width: "100%" %>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      <div class="spacer"></div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card" data-toggle="modal" data-target="#myModal5" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.1)), url('images/mariage_20.jpg');">
        <div class="card-category">MARIAGE</div>
        <div class="card-description">
          <h2>Olivia & Sven</h2>
          <p>Reportage</p>
        </div>
      </div>
      <!-- Modal -->
      <div class="modal fade" id="myModal5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Audrey & Marc /// mariage civil à Lausanne ///</h4>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4">
                  <%= image_tag "mariage_15.jpg", width: "85%" %>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                  <%= image_tag "mariage_17.jpg", width: "100%" %>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                  <%= image_tag "mariage_19.jpg", width: "100%" %>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                  <%= image_tag "mariage_20.jpg", width: "100%" %>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                  <%= image_tag "mariage_21.jpg", width: "100%" %>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                  <%= image_tag "mariage_22.jpg", width: "100%" %>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                  <%= image_tag "mariage_23.jpg", width: "100%" %>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                  <%= image_tag "mariage_24.jpg", width: "100%" %>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      <div class="spacer"></div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card" data-toggle="modal" data-target="#myModal7" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.1)), url('images/capacites_02.jpg');">
        <div class="card-category">EVENEMENTIEL</div>
        <div class="card-description">
          <h2>Université de Nantes</h2>
          <p>Reportage</p>
        </div>
      </div>
      <!-- Modal -->
      <div class="modal fade" id="myModal7" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Reportage séminaire Capacités - Univesrité de Nantes</h4>
            </div>
            <div class="modal-body">
      <!--         <div class="row">
                <div class="col-sm-12">
                  <p>Consultation privée</p>
                </div>
              </div> -->
              <div class="row">
                <div class="col-sm-6">
                  <%= image_tag "capacites_01.jpg", width: "100%" %>
                </div>
                <div class="col-sm-6">
                  <%= image_tag "capacites_02.jpg", width: "100%" %>
                </div>
                <div class="col-sm-6">
                  <%= image_tag "capacites_03.jpg", width: "100%" %>
                </div>
                <div class="col-sm-6">
                  <%= image_tag "capacites_04.jpg", width: "100%" %>
                </div>
                <div class="col-sm-6">
                  <%= image_tag "capacites_08.jpg", width: "100%" %>
                </div>
                <div class="col-sm-6">
                  <%= image_tag "capacites_06.jpg", width: "100%" %>
                </div>
                <div class="col-sm-6">
                  <%= image_tag "capacites_05.jpg", width: "100%" %>
                </div>
                <div class="col-sm-6">
                  <%= image_tag "capacites_19.jpg", width: "100%" %>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      <div class="spacer"></div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card" data-toggle="modal" data-target="#myModal8" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.1)), url('images/portrait-virage_01.jpg');">
        <div class="card-category">EVENEMENTIEL</div>
        <div class="card-description">
          <h2>Virage Group</h2>
          <p>Reportage</p>
        </div>
      </div>
      <!-- Modal -->
      <div class="modal fade" id="myModal8" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Réalisation de 90 portraits des salariés en studio mobile et d'une phototèque d'illustration</h4>
            </div>
            <div class="modal-body">
      <!--         <div class="row">
                <div class="col-sm-12">
                  <p>Consultation privée</p>
                </div>
              </div> -->
              <div class="row">
                <div class="col-sm-6">
                  <%= image_tag "portrait-virage_01.jpg", width: "100%" %>
                </div>
                <div class="col-sm-6">
                  <%= image_tag "virage-triptyque_01.jpg", width: "100%" %>
                </div>
                <div class="col-sm-6">
                  <%= image_tag "virage-triptyque_02.jpg", width: "100%" %>
                </div>
                <div class="col-sm-6">
                  <%= image_tag "virage-triptyque_03.jpg", width: "100%" %>
                </div>
                <div class="col-sm-6">
                  <%= image_tag "planche-contact-triptyque_01.jpg", width: "100%" %>
                </div>
                <div class="col-sm-6">
                  <%= image_tag "planche-contact_03.jpg", width: "100%" %>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      <div class="spacer"></div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card" data-toggle="modal" data-target="#myModal9" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.1)), url('images/ouestmedialab_08.jpg');">
        <div class="card-category">EVENEMENTIEL</div>
        <div class="card-description">
          <h2>OUESTMEDIALAB</h2>
          <p>Reportage</p>
        </div>
      </div>
      <!-- Modal -->
      <div class="modal fade" id="myModal9" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Reportage pour la 5ème édition du Medialab SpeedTraining au Médiacampus à Nantes</h4>
            </div>
            <div class="modal-body">
      <!--         <div class="row">
                <div class="col-sm-12">
                  <p>Consultation privée</p>
                </div>
              </div> -->
              <div class="row">
                <div class="col-sm-6">
                  <%= image_tag "ouestmedialab_01.jpg", width: "100%" %>
                </div>
                <div class="col-sm-6">
                  <%= image_tag "ouestmedialab_08.jpg", width: "100%" %>
                </div>
                <div class="col-sm-6">
                  <%= image_tag "ouestmedialab_04.jpg", width: "100%" %>
                </div>
                <div class="col-sm-6">
                  <%= image_tag "ouestmedialab_10.jpg", width: "100%" %>
                </div>
                <div class="col-sm-6">
                  <%= image_tag "ouestmedialab_15.jpg", width: "100%" %>
                </div>
                <div class="col-sm-6">
                  <%= image_tag "ouestmedialab_16.jpg", width: "100%" %>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      <div class="spacer"></div>
    </div>
  </div>
  <div class="spacer"></div>
  <div class="spacer"></div>
  <div class="row">
    <div class="col-sm-12">
      <div id="accordion" >
        <div class="panel">
          <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-expanded="false" aria-controls="collapseOne">
                <i class="fa fa-th-large"></i> Consulter mon portfolio et mes tarifs pour les PARTICULIERS
              </a>
            </h4>
          </div>
          <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
            <div class="row">
              <div class="spacer"></div>
              <section id="grid">
                <% data.mariage.each do |y| %>
                  <div class="col-sm-4">
                    <a href="images/<%= y.picture %>" class="swipebox" title="<%= y.caption %>">
                      <% if y.vertical == "yes" %>
                        <%= image_tag y.picture, width: "44%", class: "center-block" %>
                      <% else %>
                        <%= image_tag y.picture, width: "100%" %>
                      <% end %>
                      <div class="spacer"></div>
                    </a>
                  </div>
                <% end %>
              </section>
            </div>
            <div class="panel-heading" role="tab" id="headingOne">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-expanded="false" aria-controls="collapseOne">
                  <i class="fa fa-th-large"></i> Fermer le portfolio
                </a>
              </h4>
            </div>
          </div>
        </div>
      </div>
      <div class="spacer"></div>
    </div>
  </div>
  <div class="row">
     <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="card-trip">
        <div class="card-img" style="background-image: url('images/mariage-nb_06.jpg');"></div>
        <div class="card-trip-infos">
          <div>
            <h2>Séance portrait</h2>
            <p>
              <ul>
                <li>durée : 1h</li>
                <li>Livraison de 10 photos HD</li>
                <li>En lumière naturelle ou studio mobile</li>
                <li>Tirage papier en option</li>
              </ul></p>
          </div>
        </div>
        <div class="card-trip-pricing">
          <h3>160€</h3>
        </div>
        <a href="mailto:mathieuthomasset@gmx.com?subject=Réservation_seance_portrait" class="btn btn-default" role="button">Réserver</a>
      </div>
     </div>
     <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="card-trip">
        <div class="card-img" style="background-image: url('images/mariage-nb_05.jpg');"></div>
        <div class="card-trip-infos">
          <div>
            <h2>Portrait en couple</h2>
            <p>
              <ul>
                <li>durée : 1h30 à 2h</li>
                <li>Livraison de 50 photos HD</li>
                <li>En lumière naturelle ou studio mobile</li>
                <li>Tirage papier en option</li>
              </ul></p>
          </div>
        </div>
        <div class="card-trip-pricing">
          <h3>350€</h3>
        </div>
        <a href="mailto:mathieuthomasset@gmx.com?subject=Réservation_seance_portrait_en_couple" class="btn btn-default">Réserver</a>
      </div>
     </div>
     <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="card-trip">
        <div class="card-img" style="background-image: url('images/mariage-nb_01.jpg');"></div>
        <div class="card-trip-infos">
          <div>
            <h2>Reportage mariage</h2>
            <p>
              <ul>
                <li>durée : 1/2 journée</li>
                <li>Livraison de 150 photos HD</li>
                <li>Reportage</li>
                <li>Galerie web</li>
              </ul></p>
          </div>
        </div>
        <div class="card-trip-pricing">
          <h3>750€</h3>
        </div>
        <a href="mailto:mathieuthomasset@gmx.com?subject=Réservation_reportage_mariage" class="btn btn-default">Réserver</a>
      </div>
     </div>
     <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="card-trip">
        <div class="card-img" style="background-image: url('images/mariage-nb_04.jpg');"></div>
        <div class="card-trip-infos">
          <div>
            <h2>Forfait mariage</h2>
            <p>
              <ul>
                <li>durée : 1 journée</li>
                <li>Livraison de 350 photos HD</li>
                <li>Reportage + Séance portrait</li>
                <li>Galerie web</li>
              </ul></p>
          </div>
        </div>
        <div class="card-trip-pricing">
          <h3>1500€</h3>
        </div>
        <a href="mailto:mathieuthomasset@gmx.com?subject=Réservation_forfait_mariage" class="btn btn-default">Réserver</a>
      </div>
     </div>
  </div>
</div>
<div class="spacer"></div>
