---
title: Photographe professionnel à Nantes - Portrait studio
description: Photographe professionnel de portrait à Nantes (44) - Portraits pour la Presse, les Entreprises et les particuliers - Membre du studio Hans Lucas
preferred_url: http://www.mathieuthomasset.fr/portraits
---
<!-- 
<div class="big-spacer"></div>

<div class="container">
    <div class="row">
    <div class="spacer"></div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <h1 style="text-transform: uppercase;">Photographe de portrait à Nantes</h1>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-8">
      <p>Je réalise des portraits pour la <strong>Presse</strong> et les <strong>Entreprises</strong> à Nantes, en région Pays de la Loire et Bretagne ainsi qu'en France. Je photographie des dirigeants, salariés, artisans, écrivains, artistes... Les séances photo de <strong>portrait</strong> se déroulent en studio mobile ou en lumière naturelle.</p>
      <p class="text-right"> <i class="fa fa-arrow-down" aria-hidden="true"></i> Télécharger mon portfolio <%= link_to 'PORTRAIT', '/images/Portfolio_Portrait_MThomasset.pdf', target: "_blank" %> <br><i class="fa fa-envelope-o"></i> Demander un <a href="mailto:mathieuthomasset@gmx.com?subject=Demande_de_devis_portrait">devis</a> </p>
      <div class="spacer"></div>
    </div>
  </div>
  <div class="spacer"></div>
  <div class="row">
    <div class="spacer"></div>
    <div class="col-sm-12 text-right">
      <button class="btn btn-default" id="btn-list"><i class="fa fa-stop"></i> single</button>
      <button class="btn btn-default disabled" id="btn-grid"><i class="fa fa-th-large"></i> planche</button>
      <div class="spacer"></div>
    </div>
    <div class="spacer"></div>
    <section id="grid">
      <% data.portraits.each do |y| %>
        <div class="col-sm-4">
          <a href="images/<%= y.picture %>" class="swipebox" title="<%= y.caption %>">
            <% if y.vertical == "yes" %>
              <%= image_tag y.picture, width: "44%", class: "center-block" %>
            <% else %>
              <%= image_tag y.picture, width: "100%" %>
            <% end %>
            <div class="spacer"></div>
          </a>
       </div>
      <% end %>
    </section>
  </div>
</div>

<div class="spacer"></div> -->


<div class="big-spacer"></div>

<div class="container-fluid">
  <div class="row">
    <div class="spacer"></div>
    <div class="col-xs-12 col-sm-3 col-md-offset-1">
      <h1 id="upper">Photographe portraits à Nantes</h1>
      </br>
      <p>Je réalise des portraits pour la <span id="uk">Presse</span> et les <span id="uk">Entreprises</span> à Nantes, en région Pays de la Loire et Bretagne ainsi qu'en France. Je photographie des dirigeants, salariés, artisans, écrivains, artistes... Les séances photo de <strong>portrait</strong> se déroulent en studio mobile ou en lumière naturelle.</p>
      <p class="text-right"> <i class="fa fa-arrow-down" aria-hidden="true"></i> Télécharger mon portfolio <%= link_to 'PORTRAIT', '/images/Portfolio_Portrait_MThomasset.pdf', target: "_blank" %> <br><i class="fa fa-envelope-o"></i> Demander un <a href="mailto:mathieuthomasset@gmx.com?subject=Demande_de_devis_portrait">devis</a> </p>
      <div class="spacer"></div>
    </div>
    <div class="spacer"></div>
    <div class="col-xs-12 col-sm-8">
    <section id="grid">
      <% data.portraits.each do |y| %>
        <div class="col-xs-12 col-sm-6 col-lg-6">
          <a href="images/<%= y.picture %>" class="swipebox" title="<%= y.caption %>">
            <% if y.vertical == "yes" %>
              <%= image_tag y.picture, width: "100%", class: "center-block" %>
            <% else %>
              <%= image_tag y.picture, width: "100%" %>
            <% end %>
          </a>
          <div class="spacer"></div>
        </div>
      <% end %>
    </section>
    </div>  
  </div>
</div>
<div class="spacer"></div>
