---
title: Photographe portrait Vendée – Corporate & presse | Mathieu Thomasset
description: Portraits professionnels (dirigeants, artisans, corporate) – Vendée, Montaigu-Vendée & Grand Ouest. Entreprise, Institutionnels & Presse.
preferred_url: http://www.mathieuthomasset.fr/portraits
---

<div class="big-spacer"></div>

<div class="container-fluid">
  <div class="row">
    <div class="spacer"></div>
    <div class="col-xs-12 col-sm-3 col-md-offset-1">
      <h1 id="upper">Photographe portrait en Vendée – Corporate, presse & artisans</h1>
  <br>

  <p>Basé à Saint-Georges-de-Montaigu, je réalise des <span id="uk">portraits professionnels</span> pour les <span id="uk">entreprises</span>, les <span id="uk">institutions</span> et la <span id="uk">presse</span> en Vendée et dans le Grand Ouest. Mon approche <span id="uk">documentaire</span>, héritée du photojournalisme, privilégie la sobriété et l’authenticité.</p>
  <%# <p>Je travaille <span id="uk">sur site</span>, en <span id="uk">lumière naturelle</span> ou avec un <span id="uk">studio mobile</span> installé dans vos locaux, pour créer des portraits <span id="uk">justes, incarnés et cohérents</span> avec votre image.</p>
  <p>J’ai photographié des <span id="uk">dirigeants</span>, <span id="uk">collaborateurs</span>, <span id="uk">artisans</span> et <span id="uk">acteurs du monde agricole</span>, toujours avec l’intention de révéler une <span id="uk">présence</span>, un <span id="uk">regard</span> et une <span id="uk">personnalité</span>.</p> %>
  <p>Je travaille <span id="uk">sur site, en lumière naturelle ou en studio mobile</span> selon les besoins de chaque projet, pour créer des portraits à la fois <span id="uk">authentiques, forts et incarnés</span>.</p>
  <p>J’ai eu l’occasion de photographier des <span id="uk">dirigeants, salariés, artisans, paysans, écrivains, artistes</span>… toujours avec l’intention de révéler une <span id="uk">présence singulière</span>, de mettre en valeur un <span id="uk">regard</span>, une <span id="uk">personnalité</span>.</p>

  <div class="spacer"></div>

  <div class="spacer"></div>
  <div class="spacer"></div>
      <%# <h1 id="upper">Photographe portrait – Montaigu & Vendée</h1>
      <br>
      <p>Photographe indépendant installé à Saint-Georges-de-Montaigu, je réalise des <span id="uk">portraits professionnels</span> pour la <span id="uk">Presse</span>, les <span id="uk">Entreprises</span> et les <span id="uk">particuliers</span> sur l'ensemble du territoire vendéen et plus largement dans l’Ouest de la France.</p>
      <p>Je travaille <span id="uk">sur site, en lumière naturelle ou en studio mobile</span> selon les besoins de chaque projet, pour créer des portraits à la fois <span id="uk">authentiques, forts et incarnés</span>.</p>
      <p>J’ai eu l’occasion de photographier des <span id="uk">dirigeants, salariés, artisans, paysans, écrivains, artistes</span>… toujours avec l’intention de révéler une <span id="uk">présence singulière</span>, de mettre en valeur un <span id="uk">regard</span>, une <span id="uk">personnalité</span>.</p>
      <div class="spacer"></div>
      <div class="spacer"></div> %>
      <p class="text-right"><% link_to "demande-de-contact", class: "btn-treehouse2" do %>
        <i class="fa fa-cubes"></i> DEMANDER UN DEVIS
      <% end %></p>
      <div class="big-spacer"></div>
      <p>Je collabore à ce jour avec :</p>
      <p><%= partial 'layouts/clientsentreprises' %></p>
      <p><%= partial 'layouts/clientsmedias' %></p>
      <p class="text-right"> <i class="fa fa-arrow-down" aria-hidden="true"></i> Télécharger mon portfolio <%= link_to 'PORTRAIT', '/images/Portfolio_Portrait_MThomasset.pdf', target: "_blank" %></p> <br>
      <div class="spacer"></div>
      <div class="row">
        <div class="col-sm-12">
          <p><%= partial 'layouts/bofpublications' %></p>
        </div>
      </div>
      <div class="mid-spacer"></div>
<!-- Panel 1 -->
<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">Portraits corporate en Vendée</h2>
  </div>
  <div class="panel-body">
    <p>
      Portraits de dirigeants, d’équipes et de collaborateurs, réalisés dans l’environnement professionnel ou avec studio mobile.
      Des images pensées pour vos supports de <span id="uk">communication</span> et votre <span id="uk">marque employeur</span>.
    </p>
  </div>
</div>

<!-- Panel 2 -->
<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">Portraits de dirigeants & collaborateurs</h2>
  </div>
  <div class="panel-body">
    <p>
      Un portrait professionnel transmet sérieux, confiance et proximité.
      Idéal pour vos profils <span id="uk">LinkedIn</span>, organigrammes, communiqués de presse et sites web.
    </p>
  </div>
</div>

<!-- Panel 3 -->
<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">Portraits d’artisans & du monde agricole</h2>
  </div>
  <div class="panel-body">
    <p>
      Je mets en valeur les <span id="uk">savoir-faire</span> locaux : portraits en atelier, en ferme ou sur site de production,
      au plus près des <span id="uk">gestes</span> et des <span id="uk">matières</span>.
    </p>
  </div>
</div>

<!-- Panel 4 -->
<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">Une approche documentaire & sensible</h2>
  </div>
  <div class="panel-body">
    <p>
      Chaque portrait est conçu comme un petit récit visuel : lumière, arrière-plan et contexte sont travaillés
      pour des images à la fois <span id="uk">esthétiques</span> et <span id="uk">vraies</span>.
    </p>
  </div>
</div>

<!-- Panel 5 -->
<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">Livrables & utilisation</h2>
  </div>
  <div class="panel-body">
    <p>
      Livraison des fichiers optimisés pour le web et l’impression, avec des <span id="uk">droits d’utilisation</span>
      adaptés à vos besoins (interne, externe, presse).
    </p>
  </div>
</div>

  <div class="spacer"></div>
  <section class="faq">
  <h2>FAQ – Portraits en Vendée</h2>

  <div class="panel-group" id="faqPortraitsAccordion" role="tablist" aria-multiselectable="true">

    <!-- Q1 -->
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="pq1Heading">
        <h4 class="panel-title">
          <a role="button" data-toggle="collapse" data-parent="#faqPortraitsAccordion" href="#pq1" aria-expanded="false" aria-controls="pq1" class="collapsed">
            Combien coûte un portrait corporate en Vendée&nbsp;?
          </a>
        </h4>
      </div>
      <div id="pq1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="pq1Heading">
        <div class="panel-body">
          Le tarif dépend du nombre de personnes à photographier, du lieu et du temps de prise de vue.
          Chaque demande fait l’objet d’un devis personnalisé, que ce soit pour un <strong>portrait de dirigeant</strong>,
          une équipe ou un artisan en atelier.
        </div>
      </div>
    </div>

    <!-- Q2 -->
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="pq2Heading">
        <h4 class="panel-title">
          <a role="button" data-toggle="collapse" data-parent="#faqPortraitsAccordion" href="#pq2" aria-expanded="false" aria-controls="pq2" class="collapsed">
            Où se déroulent les séances photo&nbsp;?
          </a>
        </h4>
      </div>
      <div id="pq2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="pq2Heading">
        <div class="panel-body">
          Je réalise les portraits directement <strong>sur site</strong> (entreprise, atelier, ferme, institution) ou avec un
          <strong>studio mobile</strong> installé dans vos locaux. Je peux aussi travailler en <strong>lumière naturelle</strong>
          pour un rendu plus documentaire.
        </div>
      </div>
    </div>

    <!-- Q3 -->
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="pq3Heading">
        <h4 class="panel-title">
          <a role="button" data-toggle="collapse" data-parent="#faqPortraitsAccordion" href="#pq3" aria-expanded="false" aria-controls="pq3" class="collapsed">
            Quels usages pour les portraits professionnels&nbsp;?
          </a>
        </h4>
      </div>
      <div id="pq3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="pq3Heading">
        <div class="panel-body">
          Les portraits sont optimisés pour vos <strong>sites internet</strong>, réseaux professionnels comme LinkedIn,
          vos <strong>rapports annuels</strong>, communiqués de presse ou vos supports institutionnels.
          Ils mettent en valeur votre image tout en restant fidèles à votre identité.
        </div>
      </div>
    </div>

  </div>
</section>

         
    </div>

    <div class="spacer"></div>
    <div class="col-xs-12 col-sm-8">
      <section id="grid">
        <% data.portraits.each do |y| %>
          <div class="col-xs-12 col-sm-6 col-lg-6">
            <% if y.vertical == "yes" %>
              <%= image_tag y.picture, width: "100%", class: "center-block", alt: y.caption %>
            <% else %>
              <%= image_tag y.picture, width: "100%", alt: y.caption %>
            <% end %>
            <div class="spacer"></div>
          </div>
        <% end %>
      </section>
    </div>
  </div>
</div>
<div class="spacer"></div>
