---
title: Mathieu Thomasset - Photographe Portrait Vendée
description: Photographe professionnel de portrait Vendée - Portraits pour la Presse, les Entreprises et les particuliers - Membre du studio Hans Lucas
preferred_url: http://www.mathieuthomasset.fr/portraits
---

<div class="big-spacer"></div>

<div class="container-fluid">
  <div class="row">
    <div class="spacer"></div>
    <div class="col-xs-12 col-sm-3 col-md-offset-1">
      <h1 id="upper">Photographe portrait</h1>
      </br>
      <p>Basé à Saint-Georges de Montaigu en Vendée, je réalise des portraits pour la <span id="uk">Presse</span>, les <span id="uk">Entreprises</span> et les <span id="uk">particuliers</span> dans tout l'ouest de la France (en Vendée, à Nantes et en région Pays de la Loire et Bretagne).</p> 
      <p>Mon travail en tant que photographe de Portrait se déroulent sur site ou en studio, soit en <span id="uk">studio mobile</span> ou en lumière naturelle.</p>
      <p>Lors des séances photo de <strong><span id="uk">Portrait</span></strong>, je photographie des salariés, des artisans, des écrivains, des artistes, des dirigeants...</p>
      <div class="spacer"></div>
      <div class="spacer"></div>
      <p class="text-right"><% link_to "demande-de-contact", class: "btn-treehouse" do %>
        <i class="fa fa-cubes"></i> DEMANDER UN DEVIS
      <% end %></p>
      <div class="big-spacer"></div>
      <p>Je collabore à ce jour avec :</p>
      <p><%= partial 'layouts/clientsentreprises' %></p>
      <p><%= partial 'layouts/clientsmedias' %></p>
      <p class="text-right"> <i class="fa fa-arrow-down" aria-hidden="true"></i> Télécharger mon portfolio <%= link_to 'PORTRAIT', '/images/Portfolio_Portrait_MThomasset.pdf', target: "_blank" %></p> <br>
      <div class="spacer"></div>
    </div>
    <div class="spacer"></div>
    <div class="col-xs-12 col-sm-8">
      <section id="grid">
        <% data.portraits.each do |y| %>
          <div class="col-xs-12 col-sm-6 col-lg-6">
            <a href="images/<%= y.picture %>" class="swipebox" title="<%= y.caption %>">
              <% if y.vertical == "yes" %>
                <%= image_tag y.picture, width: "100%", class: "center-block" %>
              <% else %>
                <%= image_tag y.picture, width: "100%" %>
              <% end %>
            </a>
            <div class="spacer"></div>
          </div>
        <% end %>
      </section>
    </div>  
  </div>
</div>
<div class="spacer"></div>
