---
title: Photographe professionnel à Nantes - Portrait studio
description: Photographe professionnel de portrait à Nantes (44) - Portraits pour la Presse, les Entreprises et les particuliers - Membre du studio Hans Lucas
preferred_url: http://www.mathieuthomasset.fr/portraits
---

<div class="big-spacer"></div>

<div class="container-fluid">
  <div class="row">
    <div class="spacer"></div>
    <div class="col-xs-12 col-sm-3 col-md-offset-1">
      <h1 id="upper">Photographe portrait à Nantes</h1>
      </br>
      <p>Je réalise des portraits pour la <span id="uk">Presse</span>, les <span id="uk">Entreprises</span> et les <span id="uk">particuliers</span> à Nantes, en région Pays de la Loire et en Bretagne.</p> 
      <p>Je photographie des salariés, des artisans, des écrivains, des artistes, des dirigeants... lors de séances photo de <strong>portraits</strong> qui se déroulent sur site en <span id="uk">studio mobile</span> ou en lumière naturelle ou en studio.</p>
      <p>Je collabore à ce jour avec :</p>
      <p><span id="uk">/// Média ///</span> Alternatives Economiques, Financial Times, La Croix, Le Figaro, Le Moniteur, Le Parisien Magazine, Le Parisien Aujourd’hui en France, Les Echos, Les Cahiers Science&Vie, Libération, LSA, Les Jours, Pélerin, Télérama</p>
      <p><span id="uk">/// Corporate ///</span> APMSL, Ici Barbès, Les Echos Publishing, Les Enigmatics, MAIF, OuestMedialab, Port de Nantes Saint-Nazaire, Swpl, Teminal du Grand Ouest, Université de Nantes, Virage Group</p>
      <p class="text-right"> <i class="fa fa-arrow-down" aria-hidden="true"></i> Télécharger mon portfolio <%= link_to 'PORTRAIT', '/images/Portfolio_Portrait_MThomasset.pdf', target: "_blank" %></p> <br>
      <p class="text-right"><% link_to "demande-de-contact", class: "btn-treehouse" do %>
        <i class="fa fa-cubes"></i> DEMANDER UN DEVIS
      <% end %></p>
      <div class="spacer"></div>
    </div>
    <div class="spacer"></div>
    <div class="col-xs-12 col-sm-8">
      <section id="grid">
        <% data.portraits.each do |y| %>
          <div class="col-xs-12 col-sm-6 col-lg-6">
            <a href="images/<%= y.picture %>" class="swipebox" title="<%= y.caption %>">
              <% if y.vertical == "yes" %>
                <%= image_tag y.picture, width: "100%", class: "center-block" %>
              <% else %>
                <%= image_tag y.picture, width: "100%" %>
              <% end %>
            </a>
            <div class="spacer"></div>
          </div>
        <% end %>
      </section>
    </div>  
  </div>
</div>
<div class="spacer"></div>
