---
title: Portraits
preferred_url: http://www.mathieuthomasset.fr/portraits.html
---

<div class="spacer"></div>

<div class="container">
  <div class="row">
    <div class="spacer"></div>
    <section id="grid">
      <div class="col-sm-12">
        <%= image_tag "portrait_stephane-geffroy.jpg", width: "100%" %>
        <p>Stéphane Geffroy, auteur du livre "A l'abattoir" aux éditions Seuil</p>
      </div>
      <div class="col-sm-12">
        <%= image_tag "portrait-geberowicz.jpg", width: "100%" %>
        <p>Bernard Geberowicz, auteur de "J'arrête d'être jaloux(se) !", Ed. Eyrolles</p>
      </div>
      <div class="col-sm-12">
        <%= image_tag "pelerin_03.jpg", width: "100%" %>
        <p>P. Sébastien Antonin, assomptionniste</p>
      </div>
      <div class="col-sm-12">
        <%= image_tag "angel1.jpg", width: "100%" %>
        <p>Angel</p>
      </div>
      <div class="col-sm-6">
        <%= image_tag "portraitjulien-1.jpg", width: "100%" %>
        <p>Julien, circassien</p>
      </div>
      <div class="col-sm-6">
        <%= image_tag "portraitjulien-2.jpg", width: "100%" %>
        <p></p>
      </div>
      <div class="col-sm-12">
        <%= image_tag "sven1.jpg", width: "100%" %>
        <p>Sven et Olivia</p>
      </div>
      <div class="col-sm-12">
        <%= image_tag "portraitmathieu-1.jpg", width: "100%" %>
        <p>Mathieu</p>
      </div>

    </section>
  </div>
</div>

<div class="spacer"></div>
