---
title: Entre deux prières
image_path: http://mathieuthomasset.fr/images/prieres-3.jpg
description: Quelques jours après les attentats de Charlie Hebdo, la grande mosquée de Paris dans le 5ème arrondissement de Paris, alors sous haute protection policière, est totalement désertée par les visiteurs.

---

<div class="spacer"></div>

<div class="container">
  <div class="row">
    <div class="col-sm-9">
      <h3>Entre deux prières</br>2015</h3>
      </br>
      <p>Quelques jours après les attentats de Charlie Hebdo, la grande mosquée de Paris dans le 5ème arrondissement de Paris, alors sous haute protection policière, est totalement désertée par les visiteurs. </br>En ces temps troublés, toute l’attention est portée sur la traque des terroristes, dont le dénouement sera retransmis en direct à la télévision dans un flot continue d’images immobiles sonores. </br>Au sein de la Grande mosquée, entre deux prières, le temps est suspendu, tout invite au calme et l’atmosphère est un appel à la méditation.</p>
      <div class="spacer"></div>
    </div>
    <div class="col-sm-12">
      <%= image_tag "prieres-1.jpg", width: "100%" %>
      <p></p>
    </div>
    <div class="col-sm-12">
      <%= image_tag "prieres-2.jpg", width: "100%" %>
      <p></p>
    </div>
    <div class="col-sm-12">
      <%= image_tag "prieres-3.jpg", width: "100%" %>
      <p></p>
    </div>
    <div class="col-sm-12">
      <%= image_tag "prieres-4.jpg", width: "100%" %>
      <p></p>
    </div>
    <div class="col-sm-12">
      <%= image_tag "prieres-5.jpg", width: "100%" %>
      <p></p>
    </div>
    <div class="col-sm-12">
      <%= image_tag "prieres-6.jpg", width: "100%" %>
      <p></p>
    </div>
    <div class="col-sm-12">
      <%= image_tag " prieres-7.jpg", width: "100%" %>
      <p></p>
    </div>
    <div class="col-sm-12">
      <%= image_tag "prieres-8.jpg", width: "100%" %>
      <p></p>
    </div>
    <div class="col-sm-6">
      <%= image_tag "prieres-9.jpg", width: "100%" %>
      <p></p>
    </div>
    <div class="col-sm-6">
      <%= image_tag "prieres-10.jpg", width: "100%" %>
      <p></p>
    </div>
    <div class="col-sm-12">
      <%= image_tag "prieres-12.jpg", width: "100%" %>
      <p></p>
    </div>
    <div class="col-sm-12">
      <%= image_tag "prieres-13.jpg", width: "100%" %>
      <p></p>
    </div>
    <div class="col-sm-12">
      <%= image_tag "prieres-14.jpg", width: "100%" %>
      <p></p>
    </div>
    <div class="col-sm-12">
      <%= image_tag "prieres-15.jpg", width: "100%" %>
      <p></p>
    </div>
  </div>
</div>

<div class="spacer"></div>
