---
title: Publications - Mathieu Thomasset
preferred_url: http://www.mathieuthomasset.fr/publications
---

<div class="big-spacer"></div>

<div class="container">
  <div class="row">
    <div class="col-sm-12 text-right">
      <button class="btn btn-default fa fa-stop" id="btn-list"> slide</button>
      <button class="btn btn-default fa fa-th-large disabled" id="btn-grid"> planche</button>
      <div class="spacer"></div>
    </div>
    <div class="spacer"></div>
    <section id="grid">
      <% data.publications.each do |y| %>
        <div class="col-xs-6 col-sm-4">
          <a href="images/<%= y.picture %>" class="swipebox" title="<%= y.caption %>">
            <%= image_tag y.picture, width: "100%" %>
          </a>  
            <p><%= y.caption %></p>
        </div>
  <!--       <div class="col-xs-6 col-sm-4" >
          <a href="images/<%= y.picture %>" class="swipebox" title="<%= y.caption %>">
            <% if y.vertical == "yes" %>
              <%= image_tag y.picture, width: "47%", class: "center-block" %>
            <% else %>
              <%= image_tag y.picture, width: "100%" %>
            <% end %>
          </a>
          <p><%= y.caption %></p>
        </div> -->
      <% end %>
    </section>

   <!-- <section id="grid">
      <% data.publications.each do |y| %>
        <div class="col-xs-6 col-sm-4">
          <%= image_tag y.picture, width: "100%" %>
          <p><%= y.caption %></p>
        </div>
      <% end %>
    </section> -->
  </div>
</div>

<div class="spacer"></div> 