---
title: Des bénévoles se mobilisent pour aider les migrants
image_path: http://mathieuthomasset.fr/images/tentes_01.jpg
description: Ils utilisent les réseaux sociaux pour s’organiser et aider les réfugiés qui continuent d’arriver sur Paris.
preferred_url: http://www.mathieuthomasset.fr/tentes-migrants.html
---

<div class="big-spacer"></div>

<div class="container">
  <div class="row">
    <div class="col-sm-9">
      <h1>Des bénévoles se mobilisent pour aider les migrants à Paris
        </br>2016</h1>
      </br>
      <p>La maire de Paris, Anne Hidalgo, a annoncé l'ouverture de deux camps humanitaires pour accueillir les réfugiés d’ici à la fin de l'année, l'un Porte de La Chapelle et l'autre à Ivry. En attendant des bénévoles se regroupent pour apporter une aide concrète et immédiate aux réfugiés.</br> Ariel, restauratrice de peinture qui dispose d’une camionnette s’occupe habituellement de la collecte de vêtements, des chaussures et des pantalons principalement pour hommes, très majoritaires dans les camps de réfugiés. Avec Benoit, Yann et Quentin, rencontrés dans le sillage de Nuit Debout, ils utilisent les réseaux sociaux pour s’organiser et venir en aidé à ceux qui continuent d’arriver sur Paris. Par l’intermédiaire du groupe facebook CPSE, Collectif Parisien de Soutien aux Exilés, ils mettent en commun leur bonne volonté et leur compétence. Benoit est chef de projet web, Yann, monteur vidéo et Quentin, étudiant en master d’archéologie.</br>Aujourd’hui, après avoir récupéré les tentes du camps des jardins d’Eole (1300 personnes évacuées par la police le 6 juin 2016), ils vont les nettoyer en vue de les redistribuer le jour même à la Halle Pajol (1150 personnes évacuées depuis le 29 juin). Ariel, Benoit, Quentin et Yann ont tous en commun de vouloir apporter leur contribution, même modeste, aux exilés qui arrivent dans leur quartier, tout en restant lucide sur l’ampleur de la tache. Ils offrent leur temps, leur énergie et souvent aussi leur argent pour apporter une contribution à échelle humaine qui permettra à 60 personnes de dormir sous tente le soir même.</br>CPSE : Collectif Parisien de Soutien aux Exilés - <a href="http://www.exilesparis.org/" target="_blank">www.exilesparis.org</a></p>
      <div class="spacer"></div>
    </div>
    <div class="col-sm-12 text-right">
      <button class="btn btn-default fa fa-stop disabled" id="btn-list"> slide</button>
      <button class="btn btn-default fa fa-th-large" id="btn-grid"> planche</button>
      <div class="spacer"></div>
    </div>
    <div class="spacer"></div>
    <section id="grid">
      <% data.tentes.each do |y| %>
        <div class="col-xs-12">
          <a href="images/<%= y.picture %>" class="swipebox" title="<%= y.caption %>">
            <% if y.vertical == "yes" %>
              <%= image_tag y.picture, width: "45%", class: "center-block" %>
            <% else %>
              <%= image_tag y.picture, width: "100%" %>
            <% end %>
          </a>
          <p><%= y.caption %></p>
        </div>
      <% end %>
    </section>
  </div>
</div>
<div class="spacer"></div>
