---
title: Des bénévoles se mobilisent pour aider les migrants
image_path: http://mathieuthomasset.fr/images/tentes_01.jpg
description: Ils utilisent les réseau sociaux pour s’organiser et aider les réfugiés qui continuent d’arriver, hier aux jardin d’Eole, à la Halle Pajol à Paris.
preferred_url: http://www.mathieuthomasset.fr/tentes-cpse.html
---

<div class="spacer"></div>

<div class="container">
  <div class="row">
    <div class="col-sm-9">
      <h1>Des bénévoles se mobilisent pour aider les migrants
        </br>2016</h1>
      </br>
      <p>La maire de Paris, Anne Hidalgo, a annoncé la mise à disposition d’un camps humanitaire aux normes internationales pour accueillir les réfugiés d’ici à la mi septembre. En attendant des bénévoles se regroupent pour apporter une aide concrète et immédiate aux réfugiés.</br>Ariel, Benoit, Yann et Quentin se sont rencontrés dans le sillage de Nuit Debout car ils souhaitaient apporter leur aide aux migrants face à des pouvoirs publics dépassés par la situation et qui peinent à concrétiser les discours en actes.</br>Ils utilisent les réseau sociaux pour s’organiser et aider ceux qui continuent d’arriver, hier aux jardin d’Eole, (1200 personnes évacuées le 6 juin), aujourd’hui à la Halle Pajol à Paris (200 personnes, 50 à 100 arrivées par semaine). Par l’intermédiaire du groupe facebook CPSE, Collectif Parisien de Soutien aux Exilés, ils mettent en commun leur bonne volonté et leur compétence. Ariel, restauratrice de peinture qui dispose d’une camionnette s’occupe de la collecte de vêtements, des chaussures et des pantalons principalement pour hommes, très majoritaires à la Halle Pajol. Benoit, chef de projet web, s’occupait des petits déjeuners aux jardins d’Eole. Yann, monteur vidéo, Quentin, étudiant en master d’archéologie, viennent prêter main forte en fonction des besoins formulés sur le groupe facebook : CPSE. </br>Aujourd’hui, ils partent à la recherche des tentes récupérées suite à l’évacuation du camps de migrants des jardins d’Eole et qui ont été stockées dans un ancien lyçée devenu un laboratoire pour artistes, le DOC au 26, rue du Docteur-Potain (XIXe). Une fois récupérées, ces tentes qui avaient été achetées par des collectes organisées par le collectif CPSE, vont être nettoyées en vue de les redistribuer le jour même à la Halle Pajol.</br>Ariel, Benoit, Quentin et Yann ont tous en commun de vouloir apporter leur contribution, même modeste, aux exilés qui arrivent dans leur quartier, tout en restant lucide sur l’ampleur de la tache. Ils offrent leur temps, leur énergie et souvent aussi leur argent pour apporter une contribution à échelle d’homme qui aura permis à 60 personnes de dormir sous tente le soir même.</br>Samedi 25 juin 2016.</br>CPSE : Collectif Parisien de Soutien aux Exilés - <a href="http://www.exilesparis.org/" target="_blank">www.exilesparis.org</a></br>DOC : laboratoire d’artistes - <a href="http://www.doc.work/" target="_blank"> www.doc.work</a></p>
      <div class="spacer"></div>
    </div>
    <div class="col-sm-12 text-right">
      <button class="btn btn-default fa fa-stop" id="btn-list"> slide</button>
      <button class="btn btn-default fa fa-th-large disabled" id="btn-grid"> planche</button>
      <div class="spacer"></div>
    </div>
    <div class="spacer"></div>
    <section id="grid">
      <% data.tentes.each do |y| %>
        <div class="col-xs-6 col-sm-4">
          <a href="images/<%= y.picture %>" class="swipebox" title="<%= y.caption %>">
            <% if y.vertical == "yes" %>
              <%= image_tag y.picture, width: "45%", class: "center-block" %>
            <% else %>
              <%= image_tag y.picture, width: "100%" %>
            <% end %>
          </a>
          <p><%= y.caption %></p>
        </div>
      <% end %>
    </section>
  </div>
</div>
<div class="spacer"></div>
